
/* Styles gérant le positionnement et le contenu de la barre de navigation du portfolio */


header {
    display: flex;
    justify-content: flex-end;
}

#navbar {
    color: darkgrey;
    opacity: 0.4;
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 2vh;
    font-size: 30px;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    padding-right: 8vw;
    padding-left:8vw
}

nav a:hover {
    color: orange;
    opacity: 1;
    border-bottom: 2px solid red;
}

#navbar li {
    top: 2vh;
    margin-left: 20px; /* Correction de la valeur de margin-left */
}


#cv-link {
    /*display: none;*/
}

#competences-link {
    display: none;
}

#projets-link{
    display: none;
}
