
/* Styles gérant le positionnement et le contenu de la barre de navigation du portfolio */


header {
    display: flex;
    justify-content: right;

}

#navbar {
    z-index: 20;
    color: darkgrey;
    opacity: 0.5;
    list-style-type: none;
    list-style: none;
    font-size: 30px;
}

nav li {
    margin-right: 2vw;
}

nav a {
    color: lightgrey;
    border-right: 1px solid lightgrey;
    padding-right: 8vw;
}

nav a:hover {
    color: orange;
    opacity: 1;
    border-bottom: 2px solid red;
}

#navbar li {
    top: 2vh;

    margin-left: 20px;
}


#cv-link {
    display: none;
}

#competences-link {
    display: none;
}

#projets-link{
    display: none;
}
