
/* Styles gérant le positionnement et le contenu de la barre de navigation du portfolio */



ul {
    display: flex;
}

#cv-link {
    display: none;
    color: red;
}

#attestation-link {
    display: none;
}

#releve-link{
    display: none;
}

#resultat-link{
    display: none;
}