/* Styles gérant le positionnement et le contenu de la barre de navigation du portfolio pour les pages autre que home.html */

header {
    /* Déplacement de  la barre de navigation à droite */
    justify-content: flex-end;
    /* Activation de la flexbox */
    display: flex;
    padding: 0 100px; /*décalage aux cotés*/
}

#navbar {
    color: darkgrey;
    opacity: 0.5;
    font-size: 26px;
    width: 100%;
    padding: 5px;
}

nav a {
    color: lightgrey;
    border-right: 1px solid lightgrey;
    padding-right: 5%;
}

nav a:hover {
    color: orange;
    opacity: 1;
    border-bottom: 2px solid gold;
}

#navbar li {
    margin-left: 5%;
}

#cv-link {
    display: inline;
    align-items: center;
}
#competences-link {
    display: inline;
    align-items: center;
}
#projets-link {
    display: inline;
    align-items: center;
}

/* Styles pour les petits écrans(largeur de 769px) */
@media screen and (max-width: 768px) {
    #navbar ul {
        /* Affiche les éléments en colonnes */
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        font-size: 24px;
        /* Supprime la marge intérieure de la liste */
        padding: 0;
    }

    nav li {
        /* Supprime la marge à droite */
        margin-right: 0;
        /* Ajoute une marge en bas pour espacer les éléments */
        margin-bottom: 10px;
    }

    nav a {
        /* Supprime le padding à droite */
        padding-right: 0;
        /* Supprime la bordure droite */
        border-right: none;
    }
}