
#================================================#
# Exclusion des fichiers de configuration locaux #
#================================================#

# Fichiers de configuration locaux
*.env
/venv

# Fichiers générés
node_modules/
__pycache__/
*.pyc
