/* Fichier : _base-reset.scss
 * Description : Fichier contenant les styles de bases du portfolio
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */

 
// Importation des variables.
@import 'variables';
// Importation taille responsive
@import 'responsive-size';


//===================================//
// Reset CSS - base/base-reset.scss  //
//===================================//


/* ATTENTION :
   Ces font-sizes sur html/body influencent TOUS les éléments
   qui n’ont pas de font-size défini manuellement.
   Cela peut causer des incohérences visuelles sur certaines résolutions.
   Pensez à définir font-size explicitement sur les composants clés.
*/


/* Réinitialiser les marges, le padding et la box-sizing */
html {
  background-color: $color-black;
  color: $color-neutral-darkgrey;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
footer,
header,
section,
article,
main,
aside {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Utiliser box-sizing border-box par défaut */
}

/* Réinitialiser les styles pour les liens */
a {
  text-decoration: none;
  color: inherit;
}

/* Réinitialiser les styles pour les listes */
ul,
li {
  list-style: none;
}

/* Réinitialiser les bordures */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $color-primary;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

th {
  color: $color-white;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

td,
th {
  border: 1px solid $color-white;
  padding: 1rem;
  text-align: left;
}

/* Assurez-vous que les boutons sont sans styles par défaut */
button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

/* Empêcher les comportements par défaut des formulaires */
input,
textarea {
  outline: none;
}

/* Contrôler les valeurs par défaut des images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}


//============================================//
// Media Queries : Gestion responsive globale //
//============================================//

/* Mobile - Portrait (max-width: 599px) */
//----------------------------------------------
@include respond-max($breakpoint-xs) {
  /* Mobile portrait : ajustements typographiques et mise en page */

  /* Ajout d'autres ajustements pour les mobiles ici si nécessaire */

}
//------------------------------------------------------------


/* Mobile - Paysage (min-width: 600px et max-width: 768px) */
//-------------------------------------------------------------
@include respond-between($breakpoint-xs + 1, $breakpoint-sm) {
  /* Mobile paysage : ajustements typographiques et mise en page */

  /* Ajout d'autres ajustements pour les mobiles paysage ici */

}
//-------------------------------------------------------------------


/* Tablette - Portrait (min-width: 769px et max-width: 1024px) */
//-------------------------------------------------------------------
@include respond-between($breakpoint-sm + 1, $breakpoint-md) {
  /* Tablette portrait : ajustements typographiques et mise en page */

  /* Ajout d'autres ajustements pour les tablettes portrait ici */

}
//--------------------------------------------------------------------


/* Tablette - Paysage (min-width: 1025 et max-width: 1199px) */
@include respond-between($breakpoint-md + 1, $breakpoint-lg) {
  /* Tablette paysage : ajustements typographiques et mise en page */

  /* Ajout d'autres ajustements pour les tablettes paysage ici */

}
//------------------------------------------------------------------

/* Grands écrans (min-width: 1200px et max-width: 1400px */
@include respond-between($breakpoint-lg + 1, $breakpoint-xl) {
  /* Grand écran : ajustements typographiques et mise en page */
  
  /* Ajout d'autres ajustements pour les desktop ici */

}
//------------------------------------------------------------------

/* Très grands écrans (min-width: 1400px */
@include respond-min($breakpoint-xl + 1) {
  /* Très grand écran : ajustements typographiques et mise en page */
  
  /* Ajout d'autres ajustements pour les grands desktop ici */

}
//------------------------------------------------------------------