
/* Styles gérant les éléments de l'interface target, missiles, photo, astéroïdes et leurs animations */


#target {
    /* width et height de la cible #target */
    width: 8vh;
    height: 8vh;
    /* chemin de l'image associée à l'élément */
    background-image: url('../../images_site/images_element/target1.png');
    background-size: cover;
    position: absolute;
    /* Pour la positionner en haut au centre */
    left: 50%;
    top: 30vh;
    /* Pour centrer la cible horizontalement */
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: 0 0 20px gold;
    animation: target 2s linear infinite;
}

@keyframes target {
    0% {
    opacity: 1;
    box-shadow: 0 0 20px orange;
    }
    25% {
    opacity: 0.5;
    box-shadow: 0 0 20px red;
    }
    50% {
    opacity: 0;
    }
    75% {
    opacity: 0.5;
    box-shadow: 0 0 20px red;
    }
    100% {
    opacity:1;
    box-shadow: 0 0 20px orange;
    }
}

#target-message {
    z-index: 20;
    position: absolute;
    top: 40vh;
    font-size: 28px;
    animation: color 2s linear infinite;
}

@keyframes color {
    0% {
    color: orange;
    opacity: 1;
   }
    25% {
    color: red;
    opacity: 0.5;
   }
    50% {
    opacity: 0;
   }
    75% {
    color: red;
    opacity: 0.5;
   }
    100% {
    color: orange;
    opacity: 1;
   }
}

#target-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#photo {
    width: 13vh;
    height: 13vh;
    background-image: url('../../images_site/images_element/photo1.jpg');
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    /* Pour la positionner en haut au centre */
    left: 50%;
    top: 30vh;
    /* Pour centrer la cible horizontalement */
    transform: translateX(-50%);
    display: none;
    animation: rotateOscillation 4s forwards;
}

@keyframes rotateOscillation {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(15vw, -15vh) rotate(30deg);
  }
  50% {
    transform: translate(40vw, 13vh) rotate(-50deg);
    display: block;
  }
  75% {
    transform: translate(-20vw, -5vh) rotate(30deg);
  }
  100% {
  transform: translate(-45vw, 0vh) rotate(0deg);
  box-shadow: 0 0 20px red;
  }
}


#missile {
    /* width et height de l'élément .missile en px */
    width: 10px;
    height: 20px;
    /* chemin de l'image de fond associé au missile */
    background-image: url('../../images_site/images_weapons/spritesheet_rocket.png');
    /* Contrôle de la redimension de l'image de fond. */
    background-size: 950% auto;
    background-position: center bottom;
    position: absolute;
    /* Pour centrer le missile horizontalement */
    transform: translateX(-50%);
    }

#explosion {
    display: none;
    width: 60px;
    height: 50px;
    background-image: url('../../images_site/images_explosion/explosion-spritesheet2.png');
    background-size: 600% auto;
    position: absolute;
    /* Pour la positionner en haut au centre */
    left: 50%;
    top: 20vh;
    /* Pour centrer la cible horizontalement */
    transform: translateX(-50%);
}

@keyframes explosion {
     /* Position de la première image d'explosion */
    from { background-position: 0 0;
    }
    to
        { background-position: -382px 0px;
    }
}

.asteroid1 {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../../images_site/images_element/asteroids/asteroid0.png');
    background-size: cover;
}

.asteroid2 {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../../images_site/images_element/asteroids/asteroid4.png');
    background-size: cover;
}

.asteroid3 {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../../images_site/images_element/asteroids/asteroid3.png');
    background-size: cover;
}