
/* Styles gérant les éléments de l'interface target, missiles, photo, astéroïdes et leurs animations */


#target {
    position: absolute;
    /* width et height de la cible #target */
    width: 15vh;
    height: 15vh;
    /* chemin de l'image associée à l'élément */
    background-image: url('../../images_site/images_element/star.png');
    background-size: cover;
    /* Pour  positionner la cible */
    left: 50%;
    top: 50vh;
    /* Pour centrer la cible horizontalement */
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: 0 0 20px gold;
    animation: target 2s linear infinite;
}

/*Animation de la cible */
@keyframes target {
    0% {
    opacity: 1;
    box-shadow: 0 0 20px orange;
    }
    25% {
    opacity: 0.5;
    box-shadow: 0 0 20px red;
    }
    50% {
    opacity: 0;
    }
    75% {
    opacity: 0.5;
    box-shadow: 0 0 20px red;
    }
    100% {
    opacity:1;
    box-shadow: 0 0 20px orange;
    }
}

/* Styles du message */
#target-message {
    z-index: 20;
    position: absolute;
    top: 45vh;
    font-size: 28px;
    font-family: 'DotGothic16', sans-serif;
    animation: color 2s linear infinite;
}

/* Animation du message */
@keyframes color {
    0% {
    color: orange;
    opacity: 1;
   }
    25% {
    color: red;
    opacity: 0.5;
   }
    50% {
    opacity: 0;
   }
    75% {
    color: red;
    opacity: 0.5;
   }
    100% {
    color: orange;
    opacity: 1;
   }
}

/* Styles du conteneur de la cible */
#target-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Stlyle de la photo */
#photo {
    width: 13vh;
    height: 13vh;
    background-image: url('../../images_site/images_element/photo1.jpg');
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    /* Pour positionner la photo au même niveau que la cible */
    left: 50%;
    top: 50vh;
    /* Pour centrer la photo horizontalement */
    transform: translateX(-50%);
    display: none;
    animation: rotateOscillation 4s forwards;
}

@keyframes rotateOscillation {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(15vw, -15vh) rotate(30deg);
  }
  50% {
    transform: translate(40vw, 13vh) rotate(-50deg);
    display: block;
  }
  75% {
    transform: translate(-20vw, -5vh) rotate(30deg);
  }
  100% {
  transform: translate(-45vw, 0vh) rotate(0deg);
  box-shadow: 0 0 50px blue;
  }
}


#missile {
    /* width et height de l'élément .missile en px */
    width: 10px;
    height: 20px;
    /* chemin de l'image de fond associé au missile */
    background-image: url('../../images_site/images_weapons/spritesheet_rocket.png');
    /* Contrôle de la redimension de l'image de fond. */
    background-size: 950% auto;
    background-position: center bottom;
    position: absolute;
    /* Pour centrer le missile horizontalement */
    transform: translateX(-50%);
    }

#explosion_asteroid {
    display: none;
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url('../../images_site/images_explosion/explosion-spritesheet2.png');
    background-size: cover;
    animation: explosion 2s steps(16) forwards;
}

@keyframes explosion {
     /* Position de la première image d'explosion */
    0% {
    background-position: 0 0;
    }
    100% {
    background-position: -1024px;
    }
}

.asteroid1 {
    display: none;
    position: absolute;
    width: 100px;
    height: 80px;
    background-image: url('../../images_site/images_element/asteroids/asteroid1.png');
    background-size: cover;
    animation: asteroid1 4s steps(12) infinite;
}

@keyframes asteroid1 {
    0% {
    background-position: 0 0;
    }
    100% {
    background-position: -1300px;
    }
}

.asteroid2 {
    display: none;
    position: absolute;
    width: 100px;
    height: 70px;
    background-image: url('../../images_site/images_element/asteroids/asteroid2.png');
    background-size: cover;
    animation: asteroid2 4s steps(12) infinite;
}

@keyframes asteroid2 {
    0% {
    background-position: 0 0;
    }
    100% {
    background-position: -1300px;
    }
}

.asteroid3 {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../../images_site/images_element/asteroids/asteroid3.png');
    background-size: cover;
    animation: asteroid3 4s steps(12) infinite;
}

@keyframes asteroid3 {
    0% {
    background-position: 0 0;
    }
    100% {
    background-position: -1300px;
    }
}

/* Styles pour les écrans moyens (entre 769px et 1024px de largeur) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
     @keyframes rotateOscillation {
        0% {
            transform: translate(0, 0) rotate(0deg);
        }
        25% {
            transform: translate(15vw, -15vh) rotate(30deg);
        }
        50% {
            transform: translate(20vw, 13vh) rotate(-50deg);
            display: block;
        }
        75% {
            transform: translate(-20vw, -5vh) rotate(30deg);
        }
        100% {
            transform: translate(-45vw, 0vh) rotate(0deg);
            box-shadow: 0 0 50px blue;
        }
    }
}

/* Caractéristiques pour les petits écrans (moins de 768px de largeur) */
@media screen and (max-width: 768px) {

    @keyframes rotateOscillation {
        0% {
            transform: translate(0, 0) rotate(0deg);
        }
        25% {
            transform: translate(15vw, -15vh) rotate(30deg);
        }
        50% {
            transform: translate(20vw, 13vh) rotate(-50deg);
            display: block;
        }
        75% {
            transform: translate(-20vw, -5vh) rotate(30deg);
        }
        100% {
            transform: translate(-45vw, 0vh) rotate(0deg);
            box-shadow: 0 0 50px blue;
        }
    }
}