
#touches {
    display: block;
    position: absolute;
    bottom: 0%;
    right: 10%;
    border: 1px solid darkgrey;
    opacity: 0.8;
    z-index: 20;
  }

.direction {
    margin: 0;
    padding: 0;
    font-size: 16px;
    max-width: 280px;
    justify-content: left;
    color: gold;
    font-family: 'DotGothic16', sans-serif;
}

#phone-touches {
    display: none;
}

/* Styles pour les écrans moyens (entre 769px et 1024px de largeur) */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    #background {
        height: 125vh;
    }

    #touches {
        display: none;
    }

    #phone-touches {
        position: fixed;
        z-index: 20;
        top: 30%;
        right: 5%;
        display: block;
        background-color: lightgrey;
        opacity: 0.5;
    }

    #fire2 {
        position: absolute; /* Utilisez position: absolute; */
        left: calc(50% - 30px); /* Largeur de l'élément / 2 */
        top: 100%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid white;
        background-color: red;
        opacity: 0.8;
   }
}

/* Caractéristiques pour les petits écrans (moins de 768px de largeur) */
@media screen and (max-width: 768px) {

     #background {
        height: 125vh;
    }

    #touches {
       display: none;
    }

   #phone-touches {
        position: fixed;
        z-index: 20;
        top: 30%;
        right: 5%;
        display: block;
        background-color: lightgrey;
        opacity: 0.5;
    }

   #fire2 {
        position: fixed;
        width: 60px;
        height: 60px;
        top: 62%;
        right: 17%;
        border-radius: 50%;
        border: 1px solid white;
        background-color: red;
        opacity: 0.8;
   }
}