
#touches {
    display: block;
    position: absolute;
    bottom: 0%;
    right: 10%;
    border: 1px solid darkgrey;
    opacity: 0.8;
    z-index: 20;
  }

.direction {
    margin: 0;
    padding: 0;
    font-size: 16px;
    max-width: 280px;
    justify-content: left;
    color: gold;
}

#phone-touches {
    display: none;
}

/* Styles pour les écrans moyens (entre 769px et 1024px de largeur) */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    #background {
        height: 125vh;
    }

    #touches {
        display: none;
    }

    #phone-touches {
        position: absolute;
        z-index: 20;
        display: block;
        opacity: 0.8;
    }

    #top2 {
        position: fixed;
        top: 60%;
        right: 15%;
        transform: translateX(50%);
    }

    #left2 {
        position: fixed;
        top: 69.5%;
        right: 18%;
    }

    #right2 {
        position: fixed;
        top: 70%;
        right: 0%;
    }

    #bottom2 {
        position: fixed;
        top: 80%;
        right: 15%;
        transform: translateX(50%);
    }

    #fire2 {
        position: fixed;
        width: 60px;
        height: 60px;
        top: 72%;
        transform: translateY(50%);
        right: 15%;
        transform: translateX(50%);
        border-radius: 50%;
        border: 1px solid white;
        background-color: red;
        opacity: 0.8;
    }
}

/* Caractéristiques pour les petits écrans (moins de 768px de largeur) */
@media screen and (max-width: 768px) {

     #background {
        height: 125vh;
    }

    #touches {
       display: none;
    }

   #phone-touches {
        position: fixed;
        z-index: 20;
        display: block;
        opacity: 0.8;
    }

   #top2 {
        position: fixed;
        top: 50%;
        right: 22%;
        transform: translateX(50%);
   }

   #left2 {
        position: fixed;
        top: 60%;
        right: 25%;
   }

   #right2 {
        position: fixed;
        top: 59.9%;
        right: 3%;
   }

   #bottom2 {
        position: fixed;
        top: 70%;
        right:22%;
        transform: translateX(50%);
   }

   #fire2 {
        position: fixed;
        width: 60px;
        height: 60px;
        top: 62%;
        right: 17%;
        border-radius: 50%;
        border: 1px solid white;
        background-color: red;
        opacity: 0.8;
   }
}