* {
  background-color: black;
}

#background {
    height: 150vh;
    background-image: url('../images_site/image_background/background3/background3-3.jpg');
    background-size: cover;
    position: relative;
    animation: moveBackgroundDown 120s linear infinite;

}

@keyframes moveBackgroundDown {
  0% {
    background-position-y: 0vh;
  }
  100% {
    background-position-y: 150vh;
  }
}
.spaceship {
   border: none;
}

.center-python {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    background-image: url('../images_site/logo/logopyth/logoPython.png');
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 0 20px white;
    transform-origin: 50% 50%;
}

.tool-python {
    top: 20%;
    left: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logoseaborn.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-python2 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logoflask.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python2 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-python2 {
    animation-delay: 1s;
}

.tool-python3 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logodjango.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python3 {
    animation-delay: 2s;
}

.tool-python4 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logomathplotlib.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python4 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-python4 {
    animation-delay: 3s;
}

.tool-python5 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logopanda.png');
    background-size: cover;
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python5 {
    animation-delay: 4s;
}

.tool-python6 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logobokeh.png');
    background-size: 100%;
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python6 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-python6 {
    animation-delay: 5s;
}

.tool-python7 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logonumpy.png');
    background-size: 100%;
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python7 {
    animation-delay: 6s;
}

.tool-python8 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logoRest.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python8 {
    animation-delay: 7s;
}


.tool-python9 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logostreamlit.png');
    background-size: cover;
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python9 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-python9 {
    animation-delay: 8s;
}

.tool-python10 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logotkinter.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python10 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: white;
}

.tool-python10 {
    animation-delay: 9s;
}

.center-gestion {
    width: 125px;
    height: 125px;
    position: absolute;
    top: 20%;
    right: 20%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 0 20px white;
    transform-origin: 50% 50%;
}

.center-gestion p {
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    color:white;
    text-align: center;
    padding-top: 2%;
}

.tool-gestion {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logogestion/logojira.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-gestion {
    animation-delay: 1.25s;
}

.tool-gestion2 {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logobdd/logomongodb.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion2 {
    animation-delay: 2.5s;
}

.tool-gestion3 {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logogestion/logoGantt.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion3 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-gestion3 {
    animation-delay: 3.75s;
}

.tool-gestion4 {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logobdd/logoPostgresql.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion4 {
    animation-delay: 5s;
}


.tool-gestion5 {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logogestion/logoUML.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion5 {
    animation-delay: 6.25s;
}

.tool-gestion6 {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logobdd/logosql.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion6 {
    animation-delay: 7.5s;
}

.tool-gestion7 {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logogestion/logoKanban.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion7 {
    animation-delay: 8.75s;
}

.tool-gestion8 {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logogestion/logoTrello.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion8 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-gestion8 {
    animation-delay: 10s;
}

.center-editor {
    width: 125px;
    height: 125px;
    position: absolute;
    top: 65%;
    right: 20%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 0 20px white;
    transform-origin: 50% 50%;
}

.center-editor p {
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    color:white;
    text-align: center;
    padding-top: 2%;
}

.tool-editor {
    top: 65%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logoframework/logoReactN.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-editor p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: white;
}

.tool-editor {
    animation-delay: 1.4s;
}

.tool-editor2 {
    top: 65%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logoediteur/logopycharm.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-editor2 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-editor2 {
    animation-delay: 2.8s;
}

.tool-editor3 {
    top: 65%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logoframework/logoNode.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-editor3 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: white;
}

.tool-editor3 {
    animation-delay: 4.2s;
}

.tool-editor4 {
    top: 65%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logoediteur/logoReplit.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-editor4 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-editor4 {
    animation-delay: 5.6s;
}

.tool-editor5 {
    top: 65%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logoframework/logoBootstrap.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-editor5 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-editor5 {
    animation-delay: 7s;
}

.tool-editor6 {
    top: 65%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logoediteur/logovisualCodeS.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-editor6 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: white;
}

.tool-editor6 {
    animation-delay: 8.4s;
}

.tool-editor7 {
    top: 65%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logoframework/logosymfony.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-editor7 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: white;
}

.tool-editor7 {
    animation-delay: 9.9s;
}

.center-language {
    width: 125px;
    height: 125px;
    position: absolute;
    top: 65%;
    left: 20%;
    z-index: 1;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 20px white;
    transform-origin: 50% 50%;
}

.center-language p {
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 2%;
}

.tool-language {
    top: 65%;
    left: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logolangage/logoPhp.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}


.tool-language {
    animation-delay: 2s;
}

.tool-language2 {
    top: 65%;
    left: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logolangage/logohtml.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-language2 {
    animation-delay: 4s;
}

.tool-language3 {
    top: 65%;
    left: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logolangage/logojs.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-language3 {
    animation-delay: 6s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-language4 {
    top: 65%;
    left: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logolangage/logocss.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}


.tool-language4 {
    animation-delay: 8s;
}

.tool-language5 {
    top: 65%;
    left: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logolangage/logoPython.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-language5 {
    animation-delay: 10s;
}


@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}