* {
  background-color: black;
}

#background {
    height: 150vh;
    background-image: url('../images_site/image_background/background3/background3-3.jpg');
    background-size: cover;
    position: relative; /* Ajoutez cette ligne pour que les éléments enfants soient positionnés relativement à ce conteneur */
}

.spaceship {
   border: none;
}

.center-python {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    background-image: url('../images_site/logo/logopyth/logoPython.png');
    z-index: 1;
    border: 2px solid white;
    border-radius: 50%;
    transform-origin: 50% 50%;
}

.tool-python {
    top: 20%;
    left: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logoseaborn.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}
.tool-python p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}
.tool-python2 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logoflask.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python2 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-python2 {
    animation-delay: 1s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-python3 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logodjango.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python3 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: white;
}

.tool-python3 {
    animation-delay: 2s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-python4 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logomathplotlib.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python4 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-python4 {
    animation-delay: 3s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-python5 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logopanda.png');
    background-size: cover;
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python5 {
    animation-delay: 4s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-python6 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logobokeh.png');
    background-size: 120%;
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python6 {
    animation-delay: 5s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-python7 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logonumpy.png');
    background-size: 100%;
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python7 {
    animation-delay: 6s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-python8 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logoRest.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python8 {
    animation-delay: 7s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}


.tool-python9 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logostreamlit.png');
    background-size: cover;
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python9 {
    animation-delay: 8s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-python10 {
    top: 20%;
    left: 20%;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logopyth/logotkinter.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-python10 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: white;
}

.tool-python10{
    animation-delay: 9s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.center-gestion {
    position: absolute;
    top: 20%;
    right: 20%;
    z-index: 1;
    border: 2px solid white;
    border-radius: 50%;
    transform-origin: 50% 50%;
}

.tool-gestion {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logogestion/logojira.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-gestion {
    animation-delay: 1.25s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-gestion2 {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logobdd/logomongodb.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion2 {
    animation-delay: 2.5s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-gestion3 {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logogestion/logoGantt.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion3 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-gestion3 {
    animation-delay: 3.75s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-gestion4 {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logobdd/logoPostgresql.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion4 {
    animation-delay: 5s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}


.tool-gestion5 {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logogestion/logoUML.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion5 {
    animation-delay: 6.25s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-gestion6 {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logobdd/logosql.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion6 {
    animation-delay: 7.5s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-gestion7 {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logogestion/logoKanban.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion7 {
    animation-delay: 8.75s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-gestion8 {
    top: 20%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logogestion/logoTrello.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-gestion8 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-gestion8 {
    animation-delay: 10s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.center-editor {
    position: absolute;
    top: 65%;
    right: 20%;
    z-index: 1;
    border: 2px solid white;
    border-radius: 50%;
    transform-origin: 50% 50%;
}

.tool-editor {
    top: 65%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logoediteur/logopycharm.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-editor p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-editor {
    animation-delay: 3s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-editor2 {
    top: 65%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logoediteur/logoReplit.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-editor2 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: black;
}

.tool-editor2 {
    animation-delay: 6s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-editor3 {
    top: 65%;
    right: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logoediteur/logovisualCodeS.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-editor3 p {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    color: white;
}

.tool-editor3 {
    animation-delay: 9s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.center_language {
    position: absolute;
    top: 65%;
    left: 20%;
    z-index: 1;
    border: 2px solid white;
    border-radius: 50%;
    transform-origin: 50% 50%;
}

.tool-language {
    top: 65%;
    left: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logolangage/logoPhp.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}


.tool-language {
    animation-delay: 2s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-language2 {
    top: 65%;
    left: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logolangage/logohtml.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-language2 {
    animation-delay: 4s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-language3 {
    top: 65%;
    left: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logolangage/logojs.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}

.tool-language3 {
    animation-delay: 6s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}

.tool-language4 {
    top: 65%;
    left: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logolangage/logocss.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}


.tool-language4 {
    animation-delay: 8s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}
.tool-language5 {
    top: 65%;
    left: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 50%;
    background-image: url('../images_site/logo/logolangage/logoPython.png');
    animation: orbit 10s linear infinite;
    position: absolute;
}


.tool-language5 {
    animation-delay: 10s; /* Ajoutez un délai pour que la deuxième rotation commence après la première */
}
@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}