

body, html {
    height: 100%;
    background-color: black;
    margin: 0;
    color: white;
    }

#heure {
    position: absolute;
    top: 15%;
    right: 5%;
    font-size: 25px;
    border: 1px solid darkgrey;
    background: black;
    padding-right: 2%;
    padding-left: 2%;
}

#date-jour {
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 20px;
    border: 1px solid darkgrey;
    background: black;
    padding-right: 2%;
    padding-left: 2%;
}

#moon-icon {
     position: absolute;
     top: 10px; /* Ajustez la valeur pour définir la distance par rapport au haut */
     left: 10px; /* Ajustez la valeur pour définir la distance par rapport à la gauche */
     width: 32px; /* Ajustez la largeur de l'icône */
     height: 32px; /* Ajustez la hauteur de l'icône */
}

#background_cv {
    height: 100vh;
    background-image: url('../images_site/image_background/image_front/front1-4.jpg');
    background-size: cover;
}

.spaceship {
    position: absolute;
    z-index: 999;
}


.highlight {
    transition: box-shadow 0.3s; /* Ajout d'une transition pour un effet de fondu */
}

#animated_earth:hover,
#animated_mars:hover,
#planet1:hover,
#planet2:hover {
    box-shadow: 0 0 10px gold;
}


#animated_earth {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 45%;
    left:50%;
    transform: translate(-50%, -50%);
    background-image: url('../images_site/images_planets/sprite-sheet_terre3.png');
    background-repeat: no-repeat;
    animation: earth_animation 3s steps(14) infinite;
    background-position: 0 0;
    border-radius: 50%;
    border: 2px solid transparent;

}

div p.label1 {
    position: fixed;
    top: 80%;
    left: -6%;
    font-size: 24px;
    width: 250px;
    color: orange;
}

@keyframes earth_animation {
    0% { background-position: 0 0; }
    100% { background-position: -2100px 0; }
}

#animated_mars {
    width: 125px;
    height: 140px;
    position: absolute;
    top: 65%;
    left:20%;
    transform: translate(-50%, -50%);
    background-image: url('../images_site/images_planets/sprite-sheet_mars.png');
    background-repeat: no-repeat;
    animation: mars_animation 1s steps(8) infinite;
    background-position: 0 0;
    border-radius: 50%;
    border: 2px solid transparent;
}

div p.label2 {
    position: fixed;
    top: 80%;
    left: -6%;
    font-size: 24px;
    width: 250px;
    color: orange;
}

@keyframes mars_animation {
    0% { background-position: 0 0; }
    100% { background-position: -1000px; }
}


#planet1 {
    width: 130px;
    height: 135px;
    position: absolute;
    top: 65%;
    left:80%;
    transform: translate(-50%, -50%);
    background-image: url('../images_site/images_planets/sprite-sheet_planet1.png');
    background-repeat: no-repeat;
    animation: planet1_animation 1s steps(8) infinite;
    background-position: 0 0;
    border-radius: 50%;
    border: 2px solid transparent;
}

div p.label3 {
    position: fixed;
    top: 80%;
    left: -6%;
    font-size: 24px;
    width: 250px;
    color: orange;
}

@keyframes planet1_animation {
    0% { background-position: 0 0; }
    100% { background-position: -1000px; }
}

#planet2 {
    width: 130px;
    height: 135px;
    position: absolute;
    top: 80%;
    left:50%;
    transform: translate(-50%, -50%);
    background-image: url('../images_site/images_planets/sprite-sheet_planet2.png');
    background-repeat: no-repeat;
    animation: planet2_animation 1s steps(8) infinite;
    background-position: 0 0;
    border-radius: 50%;
    border: 2px solid transparent;
}

div p.label4 {
    position: fixed;
    top: 80%;
    left: -40%;
    font-size: 24px;
    width: 300px;
    color: orange;
}

@keyframes planet2_animation {
    0% { background-position: 0 0; }
    100% { background-position: -1000px; }
}