
body, html {
    height: 100%;
    background-color: black;
    margin: 0;
    color: white;
    }

/* Styles pour l'heure */
#heure {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 18px;
    padding-right: 2%;
    padding-left: 2%;
    margin: 0 auto;
}

/* Styles pour la date */
#date-jour {
    position: relative;
    top: 0%;
    left: 5%;
    width: 350px;
    font-size: 20px;
    border: 1px solid darkgrey;
    background: black;
    padding-right: 2%;
    padding-left: 2%;
}

/* Styles pour lien de retour à l'accueil*/
#retour_home {
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 16px;
    color: white;
}
/* Styles pour division contenant la lune */
#contain_moon {
    font-size: 15px;
    font-weight: bold;
    margin-top: -7px;
    margin-bottom: -15px;
    padding: 30px;
    filter:drop-shadow(0 0 30px hsl(220,100%,15%))
}
/* Styles pour l'icône de la lune */
#moon-icon {
     position: absolute;
     top: 10px;
     left: 10px;
     width: 32px;
     height: 32px; /
}

#background_cv {
    height: 100vh;
    background-image: url('../images_site/image_background/image_front/front1-4.jpg');
    background-size: cover;
}

/* Ajout d'une transition pour un effet de fondu */
.highlight {
    transition: box-shadow 0.3s;
}

/* Styles concernant les animations des planètes: surlignage, position, taille, comportement */
#animated_earth:hover,
#animated_mars:hover,
#planet1:hover,
#planet2:hover {
    box-shadow: 0 0 10px gold;
}

#animated_earth,
#animated_mars {
    position: absolute;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: 0 0;
    border-radius: 50%;
    border: 2px solid transparent;
}

#animated_earth {
    width: 150px;
    height: 150px;
    top: 55%;
    left:50%;
    background-image: url('../images_site/images_planets/sprite-sheet_terre3.png');
    animation: earth_animation 3s steps(14) infinite;

}

@keyframes earth_animation {
    0% {
    background-position: 0 0;
    }
    100% {
    background-position: -2100px 0;
    }
}

#animated_mars {
    width: 125px;
    height: 140px;
    top: 105%;
    left: 50%;
    background-image: url('../images_site/images_planets/sprite-sheet_mars.png');
    animation: mars_animation 1s steps(8) infinite;
}

@keyframes mars_animation {
    0% {
    background-position: 0 0;
    }
    100% {
    background-position: -1000px;
    }
}

#planet1,
#planet2 {
    width: 130px;
    height: 135px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    animation: planet1_animation 1s steps(8) infinite;
    background-position: 0 0;
    border-radius: 50%;
    border: 2px solid transparent;
}

#planet1 {
    top: 85%;
    left: 80%;
    background-image: url('../images_site/images_planets/sprite-sheet_planet1.png');
}

#planet2 {
    top: 85%;
    left: 20%;
    background-image: url('../images_site/images_planets/sprite-sheet_planet2.png');
}

@keyframes planet1_animation {
    0% {
    background-position: 0 0;
    }
    100% {
     background-position: -1000px;
     }
}

/* Styles des titres */
div p.label {
    position: fixed;
    top: 80%;
    left: -6%;
    font-size: 24px;
    width: 250px;
    color: orange;
}

div p.label3 {
    position: fixed;
    top: 80%;
    left: -20%;
    font-size: 24px;
    width: 250px;
    color: orange;
}
div p.label4 {
    position: fixed;
    top: 80%;
    left: -40%;
    font-size: 24px;
    width: 300px;
    color: orange;
}


/* Caractéristiques pour les petits écrans (moins de 768px de largeur) */
@media screen and (max-width: 768px) {

    #animated_earth {
        width: 150px;
        height: 150px;
        top: 55%;
        left:50%;
        background-image: url('../images_site/images_planets/sprite-sheet_terre3.png');
        animation: earth_animation 3s steps(14) infinite;
    }

    #animated_mars {
        width: 125px;
        height: 140px;
        top: 75%;
        left: 50%;
        background-image: url('../images_site/images_planets/sprite-sheet_mars.png');
        animation: mars_animation 1s steps(8) infinite;
    }

    #planet1,
    #planet2 {
        width: 130px;
        height: 135px;
        position: absolute;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        animation: planet1_animation 1s steps(8) infinite;
        background-position: 0 0;
        border-radius: 50%;
        border: 2px solid transparent;
    }

    #planet1 {
        top: 95%;
        left: 50%;
        background-image: url('../images_site/images_planets/sprite-sheet_planet1.png');
    }

    #planet2 {
        top: 115%;
        left:50%;
        background-image: url('../images_site/images_planets/sprite-sheet_planet2.png');
    }
}
