/* Caractéristiques des sections du footer */


.footer {
    font-size: 16px;
    margin-right: 10%;
    margin-left: 10%;
    color: orange;
    box-shadow: 0px 0px 50px gold;
    border: 1px solid gold;
    margin-bottom: 5%;
    opacity: 0.8;
}
h3.footer_titre {
  color: white;
  box-shadow: 0 0 5px orange;
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;

}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding-left: 4%;
  padding-right: 4%;
}

.footer-section {
/*(33.33% - 2rem pour trois colonnes avec un espace de 2rem entre elles) */
  flex-basis: calc(33.3% -1 rem);
  margin-bottom: 1%;
  margin-left: 1rem;
  margin-right: 1rem;
}


ul {
  list-style-type: none;
  padding: 0;
}

.reseaux li {
  margin-bottom: 15%;
}

.gold {
  color: gold;
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: gold;
}

/* Caractéristiques du bas du footer */
.footer-bottom {
  margin-top: 1%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}


/* Styles pour les écrans moyens (par exemple, entre 769px et 1024px de largeur) */
@media screen and (min-width: 769px) and (max-width: 1024px) {

}

/* Caractéristiques pour les petits écrans (par exemple, moins de 768px de largeur) */
@media screen and (max-width: 768px) {

}