
/* Styles pour la page */
body, html {
    height: 150vh;
    background-color: black;
    margin: 0;
    color: white;
}

header a {
    color: black;
}

#background {
    height: 150vh;
    background-image: url('../images_site/image_background/image_front/front1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    /* Animation pour impression de mouvement de la navette */
    animation: moveBackgroundDown 120s linear infinite;
}

 /* Propriétés de l'animation */
@keyframes moveBackgroundDown {
    0% {
        background-position-y: 0vh;
    }
    100% {
        background-position-y: 150vh;
    }
}

h1 {
    position: absolute;
    top: 12%;
    transform: translateX(50%);
    color: orange;
    font-size: 40px;
    z-index: 20;
}

.english_version {
    position: absolute;
    top: 3%;
    left: 6%;
    max-width: 20%;
    font-size: 14px;
}

h3.explic {
    position: absolute;
    color: orange;
    top: 20vh;
    font-size: 20px;
    right: 10%;
}

.move-right-animation {
    /* Spécifie le nom de l'animation */
    animation-name: moveRight;
    /* contrôle la durée de l'animation en secondes */
    animation-duration: 0.5s;
    /* remplace l'image de fond par une nouvelle image lorsque l'élément a la classe .move-right-animation */
    background-image: url('../images_site/images_spaceship/spritesheet_spaceship_right.png');
}

.move-left-animation {
    /* spécifie le nom de l'animation */
    animation-name: moveLeft;
    /* contrôle la durée de l'animation en secondes */
    animation-duration: 0.5s;
    /* remplace l'image de fond par une nouvelle image lorsque l'élément a la classe .move-right-animation */
    background-image: url('../images_site/images_spaceship/spritesheet_spaceship_left.png');
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Styles pour les écrans moyens (entre 769px et 1024px de largeur) */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    h1 {
        position: absolute;
        top: 15vh;
        left: 2%;
        transform: translateX(50%);
        color: orange;
        font-size: 30px;
        z-index: 20;
    }

    .english_version {
        font-size: 12px;
        max-width: 20%;
}

    h3.explic {
        top: 25vh;
        font-size: 16px;
        right: 10%;
    }

    .message-container {
        top: 50vh;
        left: 3%;
        padding: 1.5%;
        font-size: 16px;
        margin-right: 5%;
    }
}

/* Caractéristiques pour les petits écrans (moins de 768px de largeur) */
@media screen and (max-width: 768px) {

    h1 {
        position: absolute;
        top: 20%;
        right: 50%;
        color: orange;
        font-size: 22px;
        z-index: 20;
    }

    .english_version {
        font-size: 11px;
        max-width: 20%;
}

    h3.explic {
        top: 35vh;
        font-size: 14px;
        right: 10%;
    }

    .spaceship {
        /* Positionnement de la navette */
        bottom: 5%;
        left: 50%;
        /* Centrer la navette horizontalement */
        transform: translateX(-50%);
        width: 40px;
        height: 50px;
        min-width: 25px;
        min-height: 33px;
        background-size: 350% auto;
    }

    #missile {
        min-width: 5px;
        min-height: 10px;
    }

    .message-container {
        top: 50vh;
        left: 5%;
        padding: 1%;
        font-size: 14px;
        margin-right: 5%;
    }
}

