

body, html {
    height: 150vh;
    background-color: black;
    margin: 0;
    color: white;
    }

h1 {
    position: absolute;
    top: 20vh;
    transform: translateX(50%);
    color: orange;
    z-index: 20;
    }

#background {
    height: 150vh;
    background-image: url('../images_site/image_background/image_front/front1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    animation-name: moveBackgroundDown;
    /* Durée totale de l'animation du défilement du background*/
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 }

@keyframes moveBackgroundDown {
  0% {
    background-position-y: 0vh;
  }
  100% {
    background-position-y: 150vh;
  }
}

.spaceship {
    /* width et height de l'élément .spaceship en unités relatives */
    width: 48px;
    height: 54px;
    z-index:20;

    /* spécifie l'image de fond associée au spaceship */
    background-image: url('../images_site/images_spaceship/spritesheet_spaceship.png');

    /* Contrôle de la redimension de l'image de fond. */
    background-size: 300% auto;
    background-position: center bottom;
    position: absolute;

    /* Positionnement de la navette */
    bottom: 20%;
    left: 50%;
    /* Pour centrer la navette horizontalement */
    transform: translateX(-50%);
    }

.move-right-animation {
    /* spécifie le nom de l'animation */
    animation-name: moveRight;
    /* contrôle la durée de l'animation en secondes */
    animation-duration: 0.5s;
    /* remplace l'image de fond par une nouvelle image lorsque l'élément a la classe .move-right-animation */
    background-image: url('../images_site/images_spaceship/spritesheet_spaceship_right.png');
}

.move-left-animation {
    /* spécifie le nom de l'animation */
    animation-name: moveLeft;
    /* contrôle la durée de l'animation en secondes */
    animation-duration: 0.5s;
    /* remplace l'image de fond par une nouvelle image lorsque l'élément a la classe .move-right-animation */
    background-image: url('../images_site/images_spaceship/spritesheet_spaceship_left.png');
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Caractéristiques pour les petits écrans (par exemple, moins de 768px de largeur) */
@media screen and (max-width: 768px) {
    .spaceship {
        width: 40px;
        height: 50px;
        min-width: 25px;
        min-height: 33px;
        background-size: 350% auto;
    }
    #missile {
        min-width: 5px;
        min-height: 10px;
    }

    .message-container {
        top: 50vh; /* Modifiez la position pour les petits écrans */
        left: 5%; /* Modifiez la position pour les petits écrans */
        padding: 1%; /* Modifiez la taille de la marge intérieure pour les petits écrans */
        font-size: 14px; /* Modifiez la taille de la police pour les petits écrans */
    }
}

/* Styles pour les écrans moyens (par exemple, entre 769px et 1024px de largeur) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .message-container {
        top: 50vh; /* Modifiez la position pour les écrans moyens */
        left: 3%; /* Modifiez la position pour les écrans moyens */
        padding: 1.5%; /* Modifiez la taille de la marge intérieure pour les écrans moyens */
        font-size: 16px; /* Modifiez la taille de la police pour les écrans moyens */
    }
}