

/* Styles gérant le message d'introduction du portfolio */


@font-face {
  font-family: 'AbrilFatface';
  src: url('../font/AbrilFatface-Regular.ttf') format('ttf');
}

.message-container {
    position: absolute;
    display: none;
    top: 50vh;
    left: 5vw;
    padding: 2%;
    /* Fond semi-transparent pour la lisibilité */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 20;
    border: 1px solid lightgrey;
    animation: appear 10s ease forwards;
}


.message-container #message-content p {
    font-size: 32px;
    font-family: 'AbrilFatface', sans-serif;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}