

/* Styles gérant le message d'introduction du portfolio */

#target-message {
    width: 6.5vh;
    position: absolute;
    /* Pour la positionner en haut au centre */
    left: 50%;
    top: 10vh;
    /* Pour centrer la cible horizontalement */
    transform: translateX(-50%);
}

.message-container {
    position: absolute;
    display: none;
    top: 40vh;
    left: 2vw;
    padding: 2%;
    /* Fond semi-transparent pour la lisibilité */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid lightgrey;
    animation: appear 10s ease forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#message-content p {
    font-size: 32px;
}