body {
   background-color: rgba(0,0,0,0.3);
   height: 50vh;
}

/* Style de la modale */
/* Contenu de la modale */
.contenu_modale {
    position: fixed;
    background-color: white;
    top: 10%;
    text-indent: 2em;
    text-align: justify;
    margin: 15%;
    padding: 4%;
    border: 1px solid #888;

}

/* Boutons de la modale */
button {
    margin-top: 10px;
}

.english {
    position: absolute;
    top: 3%;
    right: 5%;
    color: black;
}

.politique {
    position: absolute;
    top: 9%;
    left: 5%;
}

/* Caractérisques pour les petits écrans */
@media screen and (max-width: 768px) {
  body {
    font-family: Arial, sans-serif;
  }
}