
/* Styles gérant les mouvements de la navette et son aspect */

.spaceship {
    /* width et height de l'élément .spaceship en unités relatives */
    width: 48px;
    height: 54px;

    /* spécifie l'image de fond associé au spaceship */
    background-image: url('../images_site/images_spaceship/spritesheet_spaceship.png');

    /* Contrôle de la redimension de l'image de fond. */
    background-size: 300% auto;
    background-position: center bottom;
    position: absolute;

    bottom: 20%;
    left: 50%;
    /* Pour centrer la navette horizontalement */
    transform: translateX(-50%);
    }

.move-right-animation {
    /* spécifie le nom de l'animation */
    animation-name: moveRight;
    /* contrôle la durée de l'animation en secondes */
    animation-duration: 0.5s;
    /* remplace l'image de fond par une nouvelle image lorsque l'élément a la classe .move-right-animation */
    background-image: url('../images_site/images_spaceship/spritesheet_spaceship_right.png');
}

.move-left-animation {
    /* spécifie le nom de l'animation */
    animation-name: moveLeft;
    /* contrôle la durée de l'animation en secondes */
    animation-duration: 0.5s;
    /* remplace l'image de fond par une nouvelle image lorsque l'élément a la classe .move-right-animation */
    background-image: url('../images_site/images_spaceship/spritesheet_spaceship_left.png');
}