/* Définition d'une police pour tous les éléments de la page */
* {
    box-sizing: border-box;
    font-size: 16px;
}

/* Pas d'accès à la navbar ici */
#cv-link {
    display: none;
}

#competences-link {
    display: none;
}

#projets-link{
    display: none;
}

.liens {
    color: navy;
    text-decoration: underline;
}

/* Surligne le lien retour à l'accueil */
.liens:hover {
    color: orange;
    border-bottom: 1px solid gold;
}

/* Séparation entre l'entête et le titre de la section */
.separation1 {
    border-bottom: 2px solid orange;
}

/* Caractéristiques du titre de la section */
h2 {
    marging-top: 20px;
    border: 1px solid black;
    background: orange;
    font-size: 18px;
    text-align: center;
    color: black;
    max-width: 800px;
    margin: 0 auto;
}

.encadre {
    border: 1px solid black;
    padding: 30px;
    margin: 10%;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.date {
    text-align: right;
}

.intro {
    text-indent: 2em;
    text-align: justify;
}

.para {
    text-indent: 2em;
    text-align: justify;
    padding-left: 4%;
    padding-right: 4%;
}

.outro {
    text-align: right;
    margin-bottom: 5%;
    padding-right: 5%;
}
.footer {
    display: none;
}

.foozleCC {
    border: 1px solid darkgrey;
    text-align: center;
    background-color: lightgrey;
    margin: 0 auto;
    max-width: 500px;
}

/* Caractéristiques du bas du footer */
.footer-bottom {
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    background-color: orange;
    border: 1px solid black;
    max-width: 40%;
}

/* Caractérisques pour les petits écrans */
@media screen and (max-width: 768px) {
   body {
      font-family: Arial, sans-serif;
  }
}



