/* Définition d'une police pour tous les éléments de la page */
* {
    box-sizing: border-box;
    font-size: 16px;
}

/* Pas d'accès à la navbar ici */
#cv-link {
    display: none;
}

#competences-link {
    display: none;
}

#projets-link{
    display: none;
}

.liens {
    color: navy;
    text-decoration: underline;
}

/* Surligne le lien retour à l'accueil */
.liens:hover {
    color: orange;
    border-bottom: 1px solid gold;
}

/* Séparation entre l'entête et le titre de la section */
.separation1 {
    border-bottom: 2px solid orange;
}

/* Caractéristiques du titre de la section */
h2 {
    margin-top: 20px;
    border: 1px solid black;
    background: orange;
    font-size: 18px;
    text-align: center;
    color: black;
    max-width: 800px;
    margin: 0 auto;
}

/* Encadre du texte et margin - padding */
.encadre {
    border: 1px solid black;
    padding: 30px;
    margin: 10%;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.date {
    text-align: right;
}

.intro {
    /* indentation et centrage du texte */
    text-indent: 2em;
    text-align: justify;
}

.container {
    /* Utiliser un affichage flex pour les colonnes */
    display: flex;
    /* Espacement égal entre les colonnes */
    justify-content: space-between;
}

.column {
    /* Les colonnes prennent une part égale de l'espace disponible */
    flex: 1;
    /* Marge intérieure pour un meilleur espacement du contenu */
    padding: 10px;
}

.para {
    text-indent: 2em;
    text-align: justify;
    padding-left: 4%;
    padding-right: 4%;
}

.outro {
    text-align: right;
    margin-bottom: 5%;
    padding-right: 5%;
}
.footer {
    display: none;
}

.foozleCC {
    border: 1px solid darkgrey;
    text-align: center;
    background-color: lightgrey;
    margin: 0 auto;
    max-width: 500px;
}

/* Caractéristiques du bas du footer */
.footer-bottom {
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    background-color: orange;
    border: 1px solid black;
    max-width: 40%;
}

/* Styles de la page 404 */
* {
 background-color : #2c3e50;
 color: white;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.python {
    max-width: 100%;
    max-height: 100%;
    border: 10px solid gold;
}

.nowhere {
    position: fixed;
    align-items: top center;
    max-width: 500px;
    color: black;
    font-size: 24px;
    background-color: darkgrey;
    border: 2px solid gold;
}

.retour_home {
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 30px;
    color: white;
}

.retour_home {
    color: orange;
    text-decoration: underline;
}
/* Caractérisques pour les petits écrans */
@media screen and (max-width: 768px) {
   body {
      font-family: Arial, sans-serif;
  }
}



