
body, html {
    height: 150vh;
    background-color: black;
}


#background {
    height: 150vh;
    background-image: url('../images_site/image_background/image_front/front2.jpg');
    background-size: cover;


#projet_1 {
    position: absolute;
    top: 25%;
    left: 25%;
}

.ring1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
}

.titre1,
.titre2,
.titre3,
.titre4  {
    position: fixed;
    border : 2px solid lightgrey;
    opacity: 0.8;
    color: white;
    display: none;
}
.titre1 div {
    top: 10%;
    left: 25%;
}

#projet_2 {
    position: absolute;
    top: 75%;
    left: 60%;
}

.ring2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
}

.titre2 div {
    display: none;
}

#projet_3 {
    position: absolute;
    top: 45%;
    left: 10%;
}

.titre3 div {
    display: none;
}

.ring3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.titre4 div {
    display: none;
}

#projet_4 {
    position: absolute;
    top: 60%;
    left: 30%;
}

.ring4 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: orange;
}
