
body, html {
    height: 100vh;
    background-color: black;
}


#background {
    height: 150vh;
    background-image: url('../images_site/galaxy_projet/galaxy1.jpg');
    background-size: cover;
    border-radius: 100%;
    animation: moverotate 2500s linear infinite;
    }



@keyframes moverotate {
    0% {
      transform: rotate(0deg) translateX(0px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(0px) rotate(360deg);
    }
}