
body, html {
    height: 100vh;
    background-color: black;
    color: white;
}

#background {
    height: 100vh;
    background-image: url('../images_site/image_background/image_front/front2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#retour_home {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 16px;
    color: white;
}
#lien_github {
    position: absolute;
    top: 10%;
    right: 15%;
    font-size: 16px;
    color: white;
}

h2 {
    text-decoration: underline;
}

div h2 {
    padding-left: 5%;
}

#projet_1 {
    position: absolute;
    top: 25%;
    left: 25%;
}

.ring1,
.ring2,
.ring3,
.ring4 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    animation: starlight 3s linear infinite;
}

.ring1 {
    background-color: navy;
    box-shadow: 0 0 20px navy;
}

.ring2 {
    background-color: purple;
    box-shadow: 0 0 20px purple;
}

.ring3 {
    background-color: red;
    box-shadow: 0 0 20px red;
}


.ring4 {
    background-color: orange;
    box-shadow: 0 0 20px orange;
}

/* animation des "étoiles" pour projets */
@keyframes starlight {
    0% {
    opacity: 1;
    }
    50% {
    opacity: 0.3;
    }
    100% {
    opacity:1;
    }
}

#projet_2 {
    position: absolute;
    top: 65%;
    left: 60%;
}

#projet_3 {
    position: absolute;
    top: 55%;
    left: 10%;
}

#projet_4 {
    position: absolute;
    top: 38%;
    right: 20%;
}

.intitule {
    width: 150px;
    height: auto;
    font-size: 24px;
    color: orange;
    margin-bottom: 2%;
    padding-left: 10px;
    padding-right: 10px;
}

.intitule:hover {
    text-decoration: underline;
    color: gold;
    box-shadow: 0 0 10px white;
}

.titre1,
.titre2,
.titre3,
.titre4 {
    display: none;
    position: fixed;
    top: 50%;
    left: 20%;
    color: black;
    font-size: 18px;
    background-color: lightgrey;
    opacity: 0.8;
    border: 2px solid black;
}

.explanation {
    text-indent: 2em;
    padding-right: 7%;
    padding-left: 7%;
    text-align: justify;
}

/* Styles pour les écrans moyens (entre 769px et 1024px de largeur) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Caractéristiques pour les petits écrans (moins de 768px de largeur) */
@media screen and (max-width: 768px) {

    #projet_1 {
        position: absolute;
        top: 25%;
        left: 15%;
    }

    #projet_2 {
        position: absolute;
        top: 70%;
        left: 60%;
    }

    #projet_3 {
        position: absolute;
        top: 65%;
        left: 10%;
    }

    #projet_4 {
        position: absolute;
        top: 38%;
        right: 35%;
    }

    .intitule {
        width: 150px;
        height: auto;
        font-size: 22px;
        color: orange;
        margin-bottom: 2%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .intitule:hover {
        text-decoration: underline;
        color: gold;
        box-shadow: 0 0 10px white;
    }

    .titre1,
    .titre2,
    .titre3,
    .titre4 {
        display: none;
        position: fixed;
        top: 50%;
        left: 20%;
        color: black;
        font-size: 18px;
        background-color: lightgrey;
        opacity: 0.8;
        border: 2px solid black;
    }
}