/* Fichier : _header.scss
 * Description : Fichier contenant les styles du header du portfolio
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */

 
// Importation des variables.
@import '../base/variables';
// Importation tailles responsive.
@import '../base/responsive-size';

//===================//
// Variables locales //
//===================//
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);



//=================//
// Style du Header //
//=================//

.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  border-right: 3px solid $color-primary;
  background-color: $color-black;
  box-shadow: $box-shadow;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  font-size: $font-size-xxl;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;

  /* Disparition du header en dessous de 1024px */
  @include respond-max($breakpoint-md) {
    display: none;
  }
}
//--------------------------------


//=========================//
// Style pour le hamburger //
//=========================//

.hamburger {
  display: none;
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  z-index: 1002;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4;
  cursor: pointer;
  background: none;
  border: none;
  
  .line {
  width: 2rem;
  height: 0.3rem;
  background-color: $color-white;
  transition: all 0.3s ease-in-out;
  }

  /* Affichage du menu hamburger en dessous de 1024px */
  @include respond-max($breakpoint-md) {
    display: flex;
  }
}
//--------------------------------


//================================//
// Menu affiché avec le hamburger //
//================================//

.hamburger.active + .header,
.header.active {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  flex-direction: column;
  padding: 1.5rem 1rem;
  background-color: $color-black;
  box-shadow: $box-shadow;

  /* Défilement si lien débordent */
  overflow-y: auto;
}
//--------------------------------


//==================================//
// Affichage du conteneur principal //
//==================================//

.main-content {
  /* Animation fluide lors du changement */
  transition: margin-top 0.3 ease;
}
//---------------------------------


//==========================//
// Conteneur de navigation  //
//==========================//

.nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 1rem 1.5rem;
}

/* Navigation */
.nav-links ul {
  list-style: none;
  /* Centre horizontalement */
  margin: 0 auto;
  padding: 0;
  display: flex;
  /* Place les liens verticalement */
  flex-direction: column;
  /* Centre verticalement si le parent a une hauteur définie */
  justify-content: center;
  align-items: center;
  gap: 2.5rem; // espace entre les <li>

  li a {
    font-size: $font-size-xxl;
    color: $color-neutral-darkgrey;
    text-decoration: none;
    margin: 1rem 0;

    &:hover {
        color: $color-decline-gold2;
    }
  }
}
//--------------------------------------------------


//====================================//
//          Responsive design         //
//====================================//

@include respond-min($breakpoint-lg + 1) {
  .nav-container {
    gap: 2rem;
  }

  // Navigation
  .nav-links ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li a {
      font-size: $font-size-xxl;
      text-decoration: none;
      margin: 1rem 0;

      &:hover {
        color: $color-decline-gold2;
      }
    }
  }
}
//--------------------------------

//Style pour écrans moyens min 1025px et max 1199px
@include respond-between($breakpoint-md + 1, $breakpoint-lg) {
  .nav-container {
    gap: 2rem;
  }

  .nav-links ul li a {
    font-size: $font-size-xl;
  }
}
//---------------------------------------------------------------


// Gestion du menu hamburger en dessous de 1024px
@include respond-max($breakpoint-md) {
  .header.active .nav-links ul li a {
    font-size: $font-size-xxl;
    width: 100%;
    padding: 1rem;
  }
}
//------------------------------------------------------


// Tablettes portrait et téléphones paysages min 600px et max 1024px
@include respond-between($breakpoint-xs + 1, $breakpoint-md) {
  .nav-container {
    gap: 2rem;
  }

  .nav-links ul li a {
    font-size: $font-size-xl;
  }
}
//---------------------------------------------------------------


// Boutons d'actions dans le menu hamburger //
// Téléphones portrait 476px-768px.
@include respond-max($breakpoint-sm) {
  .hamburger.active + .header,
  .header.active {

    height: 20%;

  }
}
//----------------------------------------------------------