// Importation de variables.scss
@use '../base/variables' as *;


// Style du Header
/* Style principal */
.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  background-color: $color-primary;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  border-right: 2px solid $color-frame-header;
  color: $color-fourth;

  @media (max-width: 1024px) {
  display: none;
  }
}

// Style pour le hamburger
.hamburger {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1002;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
  cursor: pointer;
  background: none;
  border: none;

  .line {
    width: 2rem;
    height: 0.3rem;
    background-color: $color-secondary;
    transition: all 0.3s ease-in-out;
  }

  @media (max-width: 1024px) {
    display: flex;
  }
}

// Menu affiché avec le hamburger
.hamburger.active + .header,
.header.active {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  flex-direction: column;
  padding: 1rem;
  background-color: $color-primary;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  // Permet le défilement si les liens débordent
  overflow-y: auto;
}

.main-content {
  // Animation fluide lors du changement
  transition: margin-top 0.3s ease;
}

// Conteneur de navigation
.nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 2rem 1rem;
  gap: 2rem;
}

// Navigation
.nav-links ul {
  list-style: none;
  // Centre horizontalement
  margin: 0 auto;
  padding: 0;
  display: flex;
  // Place les liens verticalement
  flex-direction: column;
  // Centre verticalement si le parent a une hauteur définie
  justify-content: center;
  align-items: center;

  li a {
    font-size: $font-size-xxxl;
    color: $color-secondary;
    text-decoration: none;
    margin: 1rem 0;

    &:hover {
      color: $color-frame-header;
    }
  }
}