/* Fichier : _images.scss
 * Description : Fichier contenant les styles des images du portfolio
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */

 
// Importation des variables.
@import '../base/variables';
// Importation tailles responsive.
@import '../base/responsive-size';


//=================================//
//  Styles des images du header    //
//=================================//

.logo {
  width: 30%;
  align-items: center;
  border: 2px solid silver;
}


//===================================//
//  Image des icônes de compétences  //
//===================================//





//================================================//
// Images des cartes de visite de la page contact //
//================================================//

.contact-cartes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.carte-visite {
  width: 300px;
  height: 200px;
  background-color: $color-primary;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-lg;
  font-weight: bold;
}






//====================================//
//          Responsive design         //
//====================================//


