/* Fichier : _images.scss
 * Description : Fichier contenant les styles des images du portfolio
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */

 
// Importation des variables.
@import '../base/variables';
// Importation tailles responsive.
@import '../base/responsive-size';


//=================================//
//  Styles des images du header    //
//=================================//

.logo {
  width: 50%;
  margin: 0 auto ;
}


//===================================//
//  Image des icônes de compétences  //
//===================================//

/* Logos des compétences */
.skill-logo {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 100px 0;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.3); /* léger zoom au hover */
  }
}


//================================================//
// Images des cartes de visite de la page contact //
//================================================//

.contact-cartes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.carte-visite {
  width: 300px;
  height: 200px;
  background-color: $color-primary;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-lg;
  font-weight: bold;
}






//====================================//
//          Responsive design         //
//====================================//


