/* Fichier : _contact.scss
 * Description : Fichier contenant les styles de la page contact
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */

// Importation des variables.
@import '../base/variables';
// Importation tailles responsive.
@import '../base/responsive-size';


//===============================//
//   Styles de la page contact   //
//===============================//


.contact-main {
  text-decoration: none;
}

.contact-border {
  border: 2px solid $color-primary;
  padding: 20px;
  border-radius: 10px;
}

.contact-site-entreprise {
  border: 2px solid $color-decline-orange2;
  border-radius: 10px;
  padding: 2%;
  font-size: $font-size-xl;

  .contact-sentence {
    text-align: justify;
    line-height: 1.8;
    margin-bottom: 3%;
    transition: background 0.3s ease, border-color 0.3s ease;

    p {
      text-indent: 2em;
    }
  }
}



//====================================//
//          Responsive design         //
//====================================//



