/* Fichier : _landing.scss
 * Description : Fichier contenant les styles de la page d'accueil du portfolio
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
 
 
// Importation des variables.
@import '../base/variables';
// Importation tailles responsive.
@import '../base/responsive-size';



//=============================//
// Styles de la page d'accueil //
//=============================//


/* Slogan */

.slogan {
  font-size: $font-size-xxl;
  font-style: bold;
  text-align: center;
  font-weight: 500;
  color: $color-decline-gold2;
  margin: 1rem 0;
}





//====================================//
//          Responsive design         //
//====================================//


