<div class="space-2"></div>
<section id="competences">
    <h2 class="landing-h2">Compétences</h2>
    <div class="competence-container">

        <!-- Bibliothèques Python -->
        <div class="competence-group">
            <div class="orbit-wrapper">
                <h3 class="orbit-title">Bibliothèques Python</h3>
                <div class="orbit-pivot">
                    <div class="orbit orbit-7">
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_python/flask.png') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_python/django.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_python/SQLalchemy.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_python/matplotlib.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_python/seaborn.png') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_python/pandas.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_python/numpy.svg') }}"></div></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Langages -->
        <div class="competence-group">
            <div class="orbit-wrapper">
                <h3 class="orbit-title">Langages</h3>
                <div class="orbit-pivot">
                    <div class="orbit orbit-4">
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_languages/html5.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_languages/css3.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_languages/javascript.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_languages/python.svg') }}"></div></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Frameworks -->
        <div class="competence-group">
            <div class="orbit-wrapper">
                <h3 class="orbit-title">Frameworks</h3>
                <div class="orbit-pivot">
                    <div class="orbit orbit-4">
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_frameworks/react.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_frameworks/vuejs.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_frameworks/bootstrap.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_frameworks/tailwindcss.svg') }}"></div></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bases de données -->
        <div class="competence-group">
            <div class="orbit-wrapper">
                <h3 class="orbit-title">Bases de données</h3>
                <div class="orbit-pivot">
                    <div class="orbit orbit-3">
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_bdd/mysql.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_bdd/postgresql.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_bdd/mongodb.svg') }}"></div></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- IDE & Outils -->
        <div class="competence-group">
            <div class="orbit-wrapper">
                <h3 class="orbit-title">IDE & Outils</h3>
                <div class="orbit-pivot">
                    <div class="orbit orbit-5">
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_ide/visualstudio.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_ide/postman.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_ide/pycharm.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_ide/git.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_ide/github.svg') }}"></div></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Outils de design -->
        <div class="competence-group">
            <div class="orbit-wrapper">
                <h3 class="orbit-title">Outils de design</h3>
                <div class="orbit-pivot">
                    <div class="orbit orbit-9">
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_design/photoshop.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_design/illustrator.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_design/figma.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_design/canva.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_design/blender.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_design/aftereffects.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_design/premierepro.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_design/inkscape.svg') }}"></div></div>
                        <div class="skill-logo"><div class="logo-pivot"><img src="{{ url_for('static', filename='images/images_logo/images_skills/skills_design/daz3d.png') }}"></div></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="space-2"></div>