<div class="space-2"></div>
<section id="current-projects">
    <h2 class="landing-h2">Projets en cours</h2>
    <p class="section-intro">Voici les projets sur lesquels je travaille actuellement.</p>
    <div class="projects-grid">
        <div class="project-card">
            <img src="images/project/current-project1.png" alt="Image du projet en cours 1">
            <h3 class="landing-h3">CurrentOcean</h3>
            <p>
                Visualisation interactive des courants marins, combinant données scientifiques 
                et design UX pour une exploration intuitive du globe.
            </p>
            <a href="#" class="btn">Voir le projet</a>
        </div>
        <div class="project-card">
            <img src="images/project/current-project2.png" alt="Image du projet en cours 2">
            <h3 class="landing-h3">CleanUsTrash</h3>
            <p>
                Application mobile de signalement des dépôts sauvages, avec suivi et propositions 
                d’actions bénévoles pour améliorer l’environnement local.</p>
            <a href="#" class="btn">Voir le projet</a>
        </div>
        <div class="project-card">
            <img src="images/project/current-project3.png" alt="Image du projet en cours 3">
            <h3 class="landing-h3">Site de vente de figurines de Manga</h3>
            <p>
                E-commerce spécialisé avec catalogue interactif et expérience d’achat 
                optimisée pour les passionnés de figurines et collectibles.
            </p>
            <a href="#" class="btn">Voir le projet</a>
        </div>
        <div class="project-card">
            <img src="images/project/current-project4.png" alt="Image du projet en cours 4">
            <h3 class="landing-h3">Création de templates clé en main</h3>
            <p>
                Pack de templates web et landing pages prêts à l’emploi, 
                personnalisables et adaptés aux freelances et développeurs juniors.
            </p>
            <a href="#" class="btn">Voir le projet</a>
        </div>
    </div>
</section>
<div class="space-2"></div>