<section id="products">
    <h2 class="landing-h2">Produits</h2>
    <p class="section-intro">Voici quelques-uns des produits que j'ai développés.</p>
    <div class="product-grid">
        <div class="product-card">
            <img src="images/product/product1.png" alt="Produit 1">
            <h3 class="landing-h3">Produit 1</h3>
            <p>Description du produit 1.</p>
            <a href="#" class="btn">Voir le produit</a>
        </div>
        <div class="product-card">
            <img src="images/product/product2.png" alt="Produit 2">
            <h3 class="landing-h3">Produit 2</h3>
            <p>Description du produit 2.</p>
            <a href="#" class="btn">Voir le produit</a>
        </div>
        <div class="product-card">
            <img src="images/product/product3.png" alt="Produit 3">
            <h3 class="landing-h3">Produit 3</h3>
            <p>Description du produit 3.</p>
            <a href="#" class="btn">Voir le produit</a>
        </div>
    </div>
</section>

