<html lang="fr-FR">
    <head>    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Portfolio de Lefetey Arnaud. Concepteur, Développeur et Designer de produits web. Ce portfolio résume
            ses compétences, ses projets terminés et en cours, ainsi que ses produits et services offerts. Il s'agit ici de donner une vue d'ensemble 
            de son travail et de ses passions.">
        
        <meta name="keywords" content="SethiarWorks, contacts, entreprise, carte de visite, réseaux sociaux, informations de contact">
        <meta name="author" content="Lefetey Arnaud">
        <meta name="robots" content="index, follow">

        <link rel="canonical" href="{{ url_for('landing_page', _external=True) }}">
        <link rel="alternate" href="{{ url_for('landing_page', _external=True) }}" hreflang="fr-FR">
    
        <title>Portfolio de Lefetey Arnaud</title>

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- CSS Principal -->
        <link rel="stylesheet" href="{{ url_for('static', filename='gen/style.css') }}?v=1.0">
    
        <!-- Google Fonts -->
        

        <!-- Google Tag Manager -->
        <script>
 
        </script>
        <!-- End Google Tag Manager -->
    </head>

    <body id="top">
        <div class="layout">
            <!-- En-tête du site -->
            <header class="header">
                <div class="nav-container">
                    <img src="{{ url_for('static', filename='images/images_logo/logo.png') }}" 
                        alt="Logo de SethiarWorks" class="logo">
                    <nav class="nav-links" aria-label="Navigation principale">
                        <ul>
                            <li><a href="#products">Produits</a></li>
                            <li><a href="#projects-over">Projets terminés</a></li>
                            <li><a href="#current-projects">Projets en cours</a></li>
                            <li><a href="#competences">Compétences</a></li>
                            <li><a href="{{ url_for('functional.a_propos') }}">À propos</a></li>
                            <li><a href="{{ url_for('functional.contact') }}">Contact</a></li>
                            <li><a href="{{ url_for('functional.mentions') }}">Mentions légales</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        
            <!-- Menu hamburger pour mobile -->
            <button class="hamburger" aria-label="Ouvrir le menu">
                <span class="line"></span>
                <span class="line"></span>  
                <span class="line"></span>
            </button>
            
        </div>

        <!-- Contenu de contenuer principal -->
        <main class="main-content">
            <section id="presentation">

                <hr class="separator-1">
                
                <div class="space-1"></div>

                <div class="title-container-landing">
                    <p><b>
                        Bienvenue sur mon Portfolio
                    </b></p>
                </div>
                <div class="space-1"></div>

                <hr class="separator-1">

                <div class="space-2"></div>          
                
                <div class="slogan-container">
                    <p class="slogan">Donner vie à votre imaginaire </p>
                    <p class="slogan">C'est notre savoir-faire.</p>
                </div>

                <div class="space-2"></div>
                
                <div class="presentation-container">
                    <p class="sentence-presentation">
                        Concepteur-développeur digital en pleine expansion vers le design web
                    </p>
                    <div class="space-2"></div>
                    <div class="separator-3"></div>
                    <div class="space-2"></div>
                    
                    <p class="sentence-presentation">
                        J'allie logique de développement et sens céatif afin de transformer des idées
                        en expériences digitales fluides et impactantes.
                    </p>
                </div>
            </section>
            <div class="space-2"></div> 
            <hr class="separator-1">
            <div class="space-2"></div>

            {% include 'sections/products.html' %}

            {% include 'sections/projects-over.html' %}

            {% include 'sections/current-projects.html' %}

            {% include 'sections/competences.html' %}

                                
            <!-- Flèche en bas -->
            <a href="#top" class="back-to-top">⬆</a>

        </main>
        
        <div class="space-2"></div>

        <hr class="separator-1">

        <div class="space-2"></div>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="footer-content">
                    <section class="footer-section">
                        <h3>Contact</h3>
                        <ul>
                            <li>Email : <a href="mailto:sethiarworks@gmail.com">sethiarworks@gmail.com</a></li>
                             <li>Adresse : Caen, Normandie, France</li>
                        </ul>
                    </section>
                    <section class="footer-section">
                        <h3>informations</h3>
                        <ul>
                            <li><a href="{{ url_for('functional.mentions') }}">Mentions Légales</a></li>
                            <li><a href="{{ url_for('functional.a_propos') }}">Informations sur le créateur du site</a></li>
                        </ul>
                    </section>
                    <section class="footer-section">
                        <h3>Réseaux Sociaux</h3>
                        <ul>
                            <li><a href=https://fr.pinterest.com/alefetey123/ target="_blank"><i
                                    class="fab fa-pinterest"></i> Pinterest</a></li>
                            <li><a href="https://www.instagram.com/lefeteya/" target="_blank"><i class="fab fa-instagram"></i>
                                Instagram</a></li>
                            <li><a href="https://www.linkedin.com/in/arnaud-lefetey-aa8193267/" target="_blank"><i
                                    class="fab fa-linkedin"></i> LinkedIn</a></li>
                        </ul>
                    </section>
                </div>

                <div class="footer-bottom">
                    <p>&copy; 2025 SethiarWorks. Tous droits réservés.</p>
                </div>
            </div>
        </footer>

        <!-- Google Tag Manager -->
        <script>
            // Code Google Tag Manager
        </script>
        <!-- End Google Tag Manager -->

        
        <!-- Incluion du fichier javascript qui gère les animations -->
        <script src="{{ url_for('static', filename='javascript/animation.js') }}"></script>
        <!-- Inclusion du menu hamburger -->
        <script src="{{ url_for('static', filename='javascript/hamburger.js') }}"></script>
        <!-- Inclusion du script des modals-->
        <script src="{{ url_for('static', filename='javascript/modal.js') }}"></script>
        <!-- Inclusion du script du retour top -->
        <script src="{{ url_for('static', filename='javascript/widget.js') }}"></script>
    </body>
</html>

