<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="fr-FR">

    <!-- Preload Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">

    <!--CSS principal -->
    <link rel="stylesheet" href="{{ url_for('static', filename='gen/style.css', v=timestamp) }}">


    {% block head_content %}
    {% endblock %}
</head>

<body>
<div class="layout">
    <header class="header">
        <div class="img-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='Images/images_logo/logo.png') }}" alt="logo de l'entreprise Sethiar">
            </div>
        </div>
        <nav class="nav-container" aria-label="Navigation principale">
            <ul class="nav-links">
                <li><a href="#product">Produits</a></li>
                <li><a href="#project-over">Projets terminés</a></li>
                <li><a href="#ongoing-project">Projets en cours</a></li>
                <li><a href="#certificate">Formations et diplômes</a></li>
                <li><a href="#ego">Qui suis-je ?</a></li>
            </ul>
        </nav>
    </header>

    <!-- Menu hamburger pour mobile -->
    <button class="hamburger" aria-label="Ouvrir le menu" aria-expanded="false" aria-controls="nav-menu">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>

    {% block header_content %}
    {% endblock %}
</div>

<!-- Contenu principal -->
<main>
    {% block main_content %}
    {% endblock %}
</main>

<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <section class="footer-section">
                <h3 class="h3-footer">Informations</h3>
                <ul>
                    <li>Email: <a href="mailto:sethiarworks@gmail.com">sethiarworks@gmail.com</a></li>
                    <li>Adresse : Caen Normandie France</li>
                    <li><a href="{{url_for('functional.contact') }}">Carte d'entreprise</a></li>
                </ul>
            </section>
            <section class="footer-section">
                <h3 class="h3-footer">Mentions légales</h3>
                <ul>
                    <li><a href="{{ url_for('functional.politique') }}">Politique de confidentialité</a></li>
                    <li><a href="{{ url_for('functional.mentions') }}">Mentions légales</a></li>
                </ul>
            </section>
            <section class="footer-section">
                <h3 class="h3-footer">Réseaux Sociaux</h3>
                <ul>
                    <li><a href="https://fr.pinterest.com/alefetey123/" target="_blank"><i class="fab fa-pinterest">
                    </i> Pinterest</a></li>
                    <li><a href="https://www.instagram.com/lefeteya/" target="_blank"><i class="fab fa-instagram">
                    </i> Instagram</a></li>
                    <li><a href="https://www.linkedin.com/in/arnaud-lefetey-aa8193267/" target="_blank">
                        <i class="fab fa-linkedin"></i> Linkedin</a></li>
                </ul>
            </section>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 SethiarWorks. Tous droits réservés.</p>
        </div>
    </div>
</footer>

<!-- Mise en place des scripts -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
  const hamburger = document.querySelector('.hamburger');
  const header = document.querySelector('.header');
  const mainContent = document.querySelector('.main-content'); // Contenu principal

  if (hamburger && header && mainContent) {
    // S'assurer que la marge du contenu principal est correcte au chargement
    if (header.classList.contains('active')) {
      mainContent.style.marginTop = `${header.offsetHeight}px`;
    } else {
      mainContent.style.marginTop = '0';
    }

    // Ajouter un gestionnaire d'événement au clic sur le menu hamburger

    hamburger.addEventListener('click', () => {
      // Toggle les classes actives
      hamburger.setAttribute('aria-expanded', header.classList.contains('active'));
      hamburger.classList.toggle('active');
      header.classList.toggle('active');

      // Gère le décalage du contenu principal
      if (header.classList.contains('active')) {
        mainContent.style.marginTop = `${header.offsetHeight}px`;
      } else {
        mainContent.style.marginTop = '0';
      }
    });
  } else {
    console.error(
      'Un ou plusieurs éléments nécessaires sont manquants : .hamburger, .header, ou .main-content.'
    );
  }
});
</script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" defer></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>

{% block footer_content %}
{% endblock %}

</body>
</html>