<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images_site/favicon/favimage.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DotGothic16&display=swap">

    <meta property="og:title" content="PortFolio de Lefetey Arnaud">
    <meta property="fb:app_id" content="319664303772017">
    <meta property="og:description" content="Ce site est mon portfolio, il présente mon curriculum vitae, mes compétences, mon parcours ainsi que mes projets personnels.">
    <meta property="og:url" content="https://lefetey-arnaud-portfolio-f2bddf6a2b7a.herokuapp.com">
    <meta property="og:image" content="{{ url_for('serve_image', photo1='photo1.jpg') }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="fr_FR">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="PortFolio de Lefetey Arnaud">
    <meta name="twitter:description" content="Ce site est mon portfolio, il présente mon curriculum vitae, mes compétences, mon parcours ainsi que mes projets personnels.">
    <meta name="twitter:image" content="https://lefetey-arnaud-portfolio-f2bddf6a2b7a.herokuapp.com/static/image/photo2.jpg">
    <meta name="twitter:url" content="https://lefetey-arnaud-portfolio-f2bddf6a2b7a.herokuapp.com">
    <meta name="twitter:site" content="@LefeteyA">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/footer.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images_site/favicon/favimage.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- <link rel="canonical" href="https://www.sethiar-lefetey.com">-->
    {% block head_content %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1EBKD5HK9X"></script>
    {% endblock %}
</head>
<br>
<body>
<header>
    {% block header_content %}
<nav id="navbar">
    <ul>
        <li id="cv-link"><a href="{{ url_for('cv_access_eng') }}">Personal section</a></li>
        <li id="competences-link"><a href="{{ url_for('skill_section') }}">Skills section</a></li>
        <li id="projets-link"><a href="{{ url_for('projects_section') }}">Projects section</a></li>
    </ul>
</nav>
<div id="retour_home">
    <a href="{{ url_for('home_eng') }}"><u>Back to the home page</u></a>
</div>
{% endblock %}
</header>

    <main>
        {% block main_content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row footer-content">
                <div class="col-md-4">
                    <h3 class="footer_titre">Informations</h3>
                    <br>
                    <p class="gold">Address : Caen, Calvados, France</p>
                    <br>
                    <p class="gold"><a class="retour" href="mailto:alefetey123@gmail.com">Email : alefetey123@gmail.com</a></p>
                <br><br>
                </div>
                <div class="col-md-4">
                    <h3 class="footer_titre">Legales notices</h3>
                    <br>
                    <ul class="reseaux">
                        <li><a href="{{ url_for('terms_of_use') }}">Terms of use</a></li>
                        <li><a href="{{ url_for('privacy_policy') }}">Privacy policy</a></li>
                        <li><a href="{{ url_for('acknowledgements') }}">Acknowledgements</a></li>
                    </ul>
                <br><br>
                </div>
                <div class="col-md-4">
                    <h3 class="footer_titre">Social networks</h3>
                    <br>
                    <ul class="reseaux">
                        <li ><a href="https://www.facebook.com/profile.php?id=100095257672419" target="_blanck"><i class="fab fa-facebook"></i> Facebook</a></li>
                        <li><a href="https://twitter.com/LefeteyA" target="_blanck"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href="https://www.instagram.com/lefeteya/" target="_blanck"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="https://www.github.com/Sethiar/" target="_blanck"><i class="fab fa-github"></i> Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; Copyright 2023 SethiarWorks. All rights reserved.</p>
        </div>
    {% block footer_content %}
    {% endblock %}
    </footer>
<script type="module" src="{{ assets.js_bundle.url }}"></script>

</body>
</html>