<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Portfolio de Lefetey Arnaud{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/navbars/navbars.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/message_titre.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/navette.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/element_interface/target_missile.css') }}">
    {% block head_content %}

    {% endblock %}
</head>
<br>
<header>
    <nav id="navbar">
        <ul>
            <li id="cv-link"><a href="{{url_for('cv')}}">Espace personnel</a></li>
            <li id="competences-link"><a href="{{url_for('competences') }}">Espace compétences</a></li>
            <li id="projets-link"><a href="{{url_for('projet_perso') }}">Espace projets</a></li>
        </ul>
    </nav>
    {% block header_content %}
    {% endblock %}
</header>

<body>

    <main>
        {% block main_content %}
        {% endblock %}
    </main>

    <footer>
    &copy: Copyright 2023 SethiarWorks
    {% block footer_content %}
       {% endblock %}
    </footer>

<script type="module" src="../static/javascript/movements_navette/movements_navette.js"></script>
<script type="module" src="../static/javascript/elements_interface/message.js"></script>
<script type="module" src="../static/javascript/elements_interface/target_missile.js"></script>
<script type="module" src="../static/javascript/elements_interface/asteroids.js"></script>
<script type="module" src="../static/javascript/FX/explosions.js"></script>
<script type="module" src="../static/javascript/movements_navette/movements_automatic.js"></script>

<script src="{{ url_for('static', filename='javascript/main.js') }}"></script>

</body>
</html>