<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='gen/style.css') }}?v=1.0">

    {% block head_content %}
    {% endblock %}
</head>

<body>
    <div class="separation"></div>

    <main>
    {% block main_content %}
    {% endblock %}
    </main>
</body>
</html>