{% extends 'base.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Mes compétences acquises au travers de mon parcours professionnel, de mes expériences personelles et de mes formations">
<title>{% block title %}Mes compétences à travers mon parcours{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/competences.css') }}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/navette.css') }}">
{% endblock %}

{% block main_content %}
<div id="background">
    <div id="container-parent">
        <div id="container-python">
            <div class="spaceship"></div>
            <div id="tool-python" class="center-python">
                <div id=tool-python1 class="tool-python"></div>
                <div id=tool-python2 class="tool-python"></div>
                <div id=tool-python3 class="tool-python"></div>
                <div id=tool-python4 class="tool-python"></div>
                <div id=tool-python5 class="tool-python"></div>
                <div id=tool-python6 class="tool-python"></div>
                <div id=tool-python7 class="tool-python"></div>
                <div id=tool-python8 class="tool-python"></div>
            </div>
        </div>

        <div id="container-gestion">
            <div id="tool-gestion" class="center-gestion">
                <div id=tool-gestion1 class="tool-gestion"></div>
                <div id=tool-gestion2 class="tool-gestion"></div>
                <div id=tool-gestion3 class="tool-gestion"></div>
            </div>
        </div>
    </div>

    <div id="container-parent2">
        <div id="container-tech">
            <div id="tool-tech" class="center-tech">
                <div id=tool-tech1 class="tool-tech"></div>
                <div id=tool-tech2 class="tool-tech"></div>
                <div id=tool-tech3 class="tool-tech"></div>
            </div>
        </div>

        <div id="container-restant">
            <div id="tool-restant" class="center-restant">
                <div id=tool-restant1 class="tool-restant"></div>
                <div id=tool-restant2 class="tool-restant"></div>
                <div id=tool-restant3 class="tool-restant"></div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="../static/javascript/movements_navette/movements_navette.js"></script>
{% endblock %}
{% block footer_content %}

{% endblock %}
