{% extends 'base.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Mon portfolio professionnel avec mon curriculum vitae, mes compétences et mes projets personnels.">
<title>{% block title %}Portfolio de Lefetey Arnaud{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/home.css') }}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/element_interface/target_missile.css') }}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/navette.css') }}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/navbars/navbars.css') }}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/message_titre.css') }}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/element_interface/touches.css') }}">
<link href="https://fonts.google.com/specimen/Abril+Fatface?query=abr" rel="stylesheet">

{% endblock %}

{% block header_content %}
<nav id="navbar">
        <ul>
            <li id="cv-link"><a href="{{url_for('cv_access')}}">Espace personnel</a></li>
            <li id="competences-link"><a href="{{url_for('competences') }}">Espace compétences</a></li>
            <li id="projets-link"><a href="{{url_for('projet_perso') }}">Espace projets</a></li>
        </ul>
</nav>
{% endblock %}

{% block main_content %}
    <div id="background">
        <h1>Bienvenue sur mon portfolio</h1>
    </div>
<div id="target-container">
    <div id="target"></div>
    <div id="target-message">SHOOT ME !!</div>
</div>
    <div id="explosion">
    </div>
    <div id="photo">
        <div id="cadre">
        </div>
    </div>
    <div class="message-container">
        <div id="message-content">
            <p class="titre">Je m'appelle Lefetey Arnaud et je suis <b>Concepteur, Développeur d'application spécialisé dans le langage Python</b></p>
        </div>
    </div>
    <div class="spaceship">
    </div>
    <div id="missile">
    </div>
    <div class="asteroid1">
    </div>
    <div id="arrow_cv">
    </div>
    <div class="asteroid2">
    </div>
    <div id="arrow_projets">
    </div>
    <div class="asteroid3">
    </div>
    <div id="arrow_competences">
    </div>
    <div id="touches">
        <p class="direction">"Z" pour avancer</p>
        <p class="direction">"Q" pour aller à gauche</p>
        <p class="direction">"D" pour aller à droite</p>
        <p class="direction">"S" pour reculer</p>
        <p class="direction">"F" pour tirer</p>
    </div>


<script type="module" src="../static/javascript/movements_navette/movements_navette.js"></script>
<script type="module" src="../static/javascript/elements_interface/message.js"></script>
<script type="module" src="../static/javascript/elements_interface/target_missile.js"></script>
<script type="module" src="../static/javascript/elements_interface/asteroids.js"></script>
<script type="module" src="../static/javascript/FX/explosions.js"></script>
<script type="module" src="../static/javascript/movements_navette/movements_automatic.js"></script>
{% endblock %}

{% block footer_content %}

{% endblock %}

