{% extends 'base2.html.jinja2' %}

{% block head_content %}
<meta name="description" content="My professional portfolio with my resume, skills, and personal projects.">
<title>{% block title %}Portfolio of Lefetey Arnaud{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/home.css') }}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/element_interface/target_missile.css') }}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/navette/navette.css') }}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/navbars/navbars.css') }}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/message_titre.css') }}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/element_interface/touches.css') }}">
{% endblock %}

{% block header_content %}
<nav id="navbar">
    <ul>
        <li id="cv-link"><a href="{{url_for('cv_access_eng')}}">Personal section</a></li>
        <li id="competences-link"><a href="{{url_for('skill_section') }}">Skills section</a></li>
        <li id="projets-link"><a href="{{url_for('projects_section') }}">Projects section</a></li>
    </ul>
</nav>
<div class="english_version">
    <h3>Version française</h3>
    <button id="english_button"><a href="{{ url_for('home') }}">Cliquez ici</a></button>
</div>
{% endblock %}

{% block main_content %}
    <div id="background">
        <h1><u>Welcome to my portfolio</u></h1>

<div id="target-container">
    <div id="target"></div>
    <div id="target-message">SHOOT ME !!</div>
</div>
    <div id="explosion_asteroid">
    </div>
    <div id="photo">
        <div id="cadre">
        </div>
    </div>
    <div class="message-container">
        <div id="message-content">
            <p class="titre">My name is Lefetey Arnaud and I'm <b>digital solutions designer developer</b></p>
        </div>
    </div>
    <div class="spaceship">
    </div>
    <div id="missile">
    </div>
    <div class="asteroid1">
    </div>
    <div class="asteroid2">
    </div>
    <div class="asteroid3">
    </div>

</div>
<script type="module" src="../static/javascript/elements_interface/conservation_liens.js"></script>
<script type="module" src="../static/javascript/movements_navette/movements_navette.js"></script>
<script type="module" src="../static/javascript/elements_interface/message.js"></script>
<script type="module" src="../static/javascript/elements_interface/target_missile.js"></script>
<script type="module" src="../static/javascript/elements_interface/asteroids.js"></script>
<script type="module" src="../static/javascript/FX/explosions.js"></script>
<script type="module" src="../static/javascript/movements_navette/movements_auto_eng.js"></script>

{% endblock %}

{% block footer_content %}
{% endblock %}
