{% extends 'base.html.jinja2' %}

{% block head_content %}
<meta name="description" content="La page de chargement de mon portfolio.">
 <meta property="og:title" content="PortFolio de Lefetey Arnaud">

<meta property="fb:app_id" content="319664303772017">
<meta property="og:description" content="Ce site est mon portfolio, il présente mon curriculum vitae, mes compétences, mon parcours ainsi que mes projets personnels.">
<meta property="og:url" content="https://lefetey-arnaud-portfolio-f2bddf6a2b7a.herokuapp.com">
<meta property="og:image"  content="{{ url_for('serve_image', photo1='photo1.jpg') }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="fr_FR">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="PortFolio de Lefetey Arnaud">
<meta name="twitter:description" content="Ce site est mon portfolio, il présente mon curriculum vitae, mes compétences, mon parcours ainsi que mes projets personnels.">
<meta name="twitter:image" content="https://lefetey-arnaud-portfolio-f2bddf6a2b7a.herokuapp.com/static/image/photo2.jpg">
<meta name="twitter:url" content="https://lefetey-arnaud-portfolio-f2bddf6a2b7a.herokuapp.com">
<meta name="twitter:site" content="@LefeteyA">

<script async src="https://www.googletagmanager.com/gtag/js?id=G-1EBKD5HK9X"></script>


<title>{% block title %}Page de chargement{% endblock %}</title>
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images_site/favicon/favimage.ico') }}">
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='CSS/loading_page.css') }}">
{% endblock %}

{% block header_content %}
{% endblock %}

{% block main_content %}

<div class="frame-loading-items">
    <div class="loading-items">
        <img class="loading-items-gif" src="{{url_for('static', filename='images_site/chargement/loading1.gif') }}" alt="Gif de chargement de la page du portfolio de Lefetey Arnaud">
    </div>
</div>
<div>
    <p class="loading">LOADING</p>
</div>

<script>
    // 4 secondes (4000 milliseconds) avant redirection
        setTimeout(function() {

        // Redirige vers la route /home
           window.location.href = "/home";

           // 4000 milliseconds
           }, 4000);

</script>
{% endblock %}
{% block footer_content %}
{% endblock %}