{% extends 'base.html.jinja2' %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/modale.css') }}">
    <title>{% block title %}Consentement aux cookies{% endblock %}</title>
{% endblock %}

{% block main_content %}
<div id="fenetre_modale" class="modale">
        <div class="contenu_modale">
            <h2>Consentement pour les cookies</h2>
            <p>Nous utilisons des cookies afin d'améliorer votre expérience sur notre site. Acceptez-vous l'utilisation de cookies non essentiels ?</p>
            <button id="acceptBtn">Accepter</button>
            <button id="rejectBtn">Refuser</button>
        </div>
    <p><a class="politique" href="/politique-confidentialité">Voir notre politique de confidentialité</a></p>
    </div>
{% endblock %}

   <script src="../static/javascript/modale.js"></script>
