<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="PortFolio de Lefetey Arnaud">
    <meta property="fb:app_id" content="319664303772017">
    <meta property="og:description" content="Ce site est mon portfolio, il présente mon curriculum vitae, mes compétences, mon parcours ainsi que mes projets personnels.">
    <meta property="og:url" content=" https://lefetey-arnaud-portfolio-f2bddf6a2b7a.herokuapp.com">
    <meta property="og:image"  content="{{ url_for('serve_image', photo1='photo1.jpg') }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="fr_FR">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="PortFolio de Lefetey Arnaud">
    <meta name="twitter:description" content="Ce site est mon portfolio, il présente mon curriculum vitae, mes compétences, mon parcours ainsi que mes projets personnels.">
    <meta name="twitter:image" content="https://lefetey-arnaud-portfolio-f2bddf6a2b7a.herokuapp.com/static/image/photo2.jpg">
    <meta name="twitter:url" content="https://lefetey-arnaud-portfolio-f2bddf6a2b7a.herokuapp.com">
    <meta name="twitter:site" content="@LefeteyA">

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/modale.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon/favimage.ico') }}">
    <title>Consentement aux cookies</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1EBKD5HK9X"></script>
</head>
<body>
<p><a class="politique" href="/politique-confidentialité">Voir notre politique de confidentialité</a></p>
<p><a class="english" href="/eng">Access to the english version.</a></p>
<br>
<br>
<div id="fenetre_modale" class="modale">
        <div class="contenu_modale">
            <h2>Consentement pour les cookies</h2>
            <p>Nous utilisons des cookies afin améliorer votre expérience sur notre site.</p>
            <p>Acceptez-vous l'utilisation de cookies non essentiels ?</p>
            <button id="acceptBtn">Accepter</button>
            <button id="rejectBtn">Refuser</button>
        </div>
</div>

<script src="static/javascript/modale.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1EBKD5HK9X');
</script>
</body>
</html>