<!DOCTYPE html>
<html lang="fr">
<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/modale.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon/favimage.ico') }}">
    <title>Consentement aux cookies</title>
</head>
<body>
<div id="fenetre_modale" class="modale">
        <div class="contenu_modale">
            <h2>Consentement pour les cookies</h2>
            <p>Nous utilisons des cookies afin améliorer votre expérience sur notre site. Acceptez-vous l'utilisation de cookies non essentiels ?</p>
            <button id="acceptBtn">Accepter</button>
            <button id="rejectBtn">Refuser</button>
        </div>
    <p><a class="politique" href="/politique-confidentialité">Voir notre politique de confidentialité</a></p>
</div>

<script src="static/javascript/modale.js"></script>
</body>
</html>