<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="PortFolio de Lefetey Arnaud">
    <meta property="fb:app_id" content="319664303772017">
    <meta property="og:description" content="Ce site est mon portfolio, il présente mon curriculum vitae, mes compétences, mon parcours ainsi que mes projets personnels.">
    <meta property="og:url" content="https://portfoliolefeteya-119a68814922.herokuapp.com">
    <meta property="og:image"  content="{{ url_for('serve_image', photo2='photo2.jpg') }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="fr_FR">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="PortFolio de Lefetey Arnaud">
    <meta name="twitter:description" content="Ce site est mon portfolio, il présente mon curriculum vitae, mes compétences, mon parcours ainsi que mes projets personnels.">
    <meta name="twitter:image" content="https://portfoliolefeteya-119a68814922.herokuapp.com/static/image/photo2.jpg">
    <meta name="twitter:url" content="https://portfoliolefeteya-119a68814922.herokuapp.com">
    <meta name="twitter:site" content="@LefeteyA">

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/modale.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon/favimage.ico') }}">
    <title>Cookie Consent</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1EBKD5HK9X"></script>
</head>
<body>
<div id="fenetre_modale" class="modale">
        <div class="contenu_modale">
            <h2>Cookie Consent</h2>
            <p>We use cookies to enhance your experience on our site. Do you accept the use of non-essential cookies?</p>
            <button id="acceptBtn">Accept</button>
            <button id="rejectBtn">Refuse</button>
        </div>
    <p><a class="politique" href="/privacy-policy">View our privacy policy</a></p>
    <p><a class="english" href="/">Return to the french version</a></p>
</div>

<script src="static/javascript/modale.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1EBKD5HK9X');
</script>
</body>
</html>