{% extends 'base.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Cette page renseigne sur la politique du site.">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/remerciements.css') }}">
    <title>{% block title %}Politique de confidentialité{% endblock %}</title>
{% endblock %}

{% block main_content %}
<br>
<br>

<div class="separation1">

</div>

<br>
<br>
<h2>Politique de confidentialité pour le Portfolio Personnel de Lefetey Arnaud.</h2>
<br>
<br>

<div class="encadre">
    <div>
        <p class="date">Dernière mise à jour : <i><b>le 8 janvier 2024</b></i>.</p>
    </div>
    <div>
        <p class="intro"><i>La présente <b>Politique de confidentialité</b> décrit comment <b>Lefetey Arnaud</b> recueille, utilise et protège les informations personnelles que vous pourriez
        fournir lors de votre visite sur [https://sethiar-lefetey.com]. Veuillez lire attentivement cette politique avant de naviguer sur le site ou de fournir des informations
            personnelles. En utilisant ce site, vous acceptez les pratiques décrites dans cette politique.</i></p>
    </div>
    <br>
    <div>
        <h3>Informations collectées</h3>
        <p class="para">Nous ne collectons aucune information personnelle identifiable à moins que vous ne nous la fournissiez volontairement. Lors de votre visite sur le site, nous pouvons
        recueillir des informations non personnelles telles que votre adresse IP, le type de navigateur que vous utilisez, la date et l'heure de votre visite, et les pages
        que vous consultez. Ces informations sont utilisées à des fins d'analyse et d'amélioration du site.
    </div>
    <br>
    <div>
        <h3>Utilisation des informations</h3>
        <p class="para">Les informations personnelles que vous fournissez, telles que votre nom, votre adresse e-mail et d'autres coordonnées, peuvent être utilisées pour répondre à vos questions,
        pour vous envoyer des informations sur les mises à jour du portfolio ou pour vous contacter concernant des opportunités professionnelles. Vos informations ne seront pas
        vendues, louées ou partagées avec des tiers à des fins commerciales sans votre consentement exprès.</p>
    </div>
    <br>
    <div>
        <h3>Cookies</h3>
        <p class="para">Ce site peut utiliser des cookies afin d'améliorer l'expérience utilisateur et collecter des informations statistiques. Les cookies sont de petits fichiers texte
            stockés sur votre appareil. Vous avez la possibilité de désactiver les cookies dans les paramètres de votre navigateur.</p>
    </div>
    <br>
    <div>
        <h3>Liens vers des sites tiers</h3>
        <p class="para">Ce site peut contenir des liens vers des sites web tiers. Nous ne sommes pas responsables des pratiques de confidentialité ou du contenu de ces sites.
            Nous vous encourageons à lire les politiques de confidentialité de ces sites avant de fournir des informations personnelles.</p>
    </div>
    <br>
    <div>
        <h3>Sécurité</h3>
        <p class="para">Nous prenons des mesures pour protéger les informations personnelles que vous nous fournissez, mais gardez à l'esprit qu'aucune méthode de transmission
            sur Internet ni de stockage électronique n'est totalement sécurisée. Nous ne pouvons garantir la sécurité absolue de vos informations.</p>
    </div>
    <br>
    <div>
        <h3>Droit d'accès et de rectification</h3>
        <p class="para">Vous avez le droit d'accéder aux informations personnelles que nous détenons à votre sujet et de demander leur rectification, leur mise à jour ou leur suppression.
            Pour exercer ces droits, veuillez nous contacter à l'adresse : <a class="liens" href="mailto:alefetey123@gmail.com">alefetey123@gmail.com</a></p>
    </div>
    <br>
    <div>
        <h3>Changements apportés à cette politique</h3>
        <p class="para">Nous pouvons mettre à jour cette <b>Politique de confidentialité</b> de temps à autre en publiant une version mise à jour sur ce site. La date de la dernière mise à jour
            sera indiquée en haut de la page. Nous vous encourageons à consulter régulièrement cette politique pour rester informé de la manière dont nous protégeons
            vos informations.</p>
    </div>
<br><br>
    <div class="outro">
        Si vous avez des questions concernant cette <b>Politique de confidentialité</b>, veuillez nous contacter à : <a class="liens" href="mailto:alefetey123@gmail.com">alefetey123@gmail.com</a>
    </div>
</div>
<br><br>
<div class="separation1">
</div>
<br><br>
<div class="footer-bottom">
    <p>&copy; Copyright 2023 SethiarWorks. Tous droits réservés.</p>
</div>

{% endblock %}