<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cette page renseigne sur l'utilisation des cookies.">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/remerciements.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon/favimage.ico') }}">

</head>
<body>

<br><br>

<div class="separation1">

</div>

<br>
<br>
<h2>Avertissement // Disclaimer.</h2>
<br>
<br>
<div class="encadre">
    <div>
        <p class="para">*
            En refusant les cookies, vous ne consentez pas à l'utilisation des données du site afin d'améliorer sa lisibilité ainsi que ses performances.
            Sachez que le site n'utilise aucune de vos données personnelles et que l'utilisation est exclusivement centrée sur la performance.
        </p>
    </div>
    <div>
        <p class="para">*
            By refusing cookies, you do not consent to the use of site data to enhance its
            readability and performance. Please be aware that the site does not use any of your
            personal data, and the usage is solely focused on performance.</p>
    </div>
   <div class="container">
       <div class="column">
           <p class="para"><a class="retour" href="{{url_for('modale') }}">Si vous désirez accepter les cookies, vous pouvez y accéder par ce lien.</a></p>
           <p class="para"><a class="retour" href="{{url_for('home') }}">Sinon cliquez ici.</a></p>
       </div>
       <div class="column">
           <p class="para"><a class="retour" href="{{url_for('modale_eng') }}">If you would like to accept cookies, you can do so by following this link.</a></p>
           <p class="para"><a class="retour" href="{{url_for('home_eng') }}">Else click here.</a></p>
       </div>
   </div>

</div>
<script>

</script>
</body>
</html>