@charset "UTF-8";
/* Fichier : _base-reset.scss
 * Description : Fichier contenant les styles de bases du portfolio
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* ATTENTION :
   Ces font-sizes sur html/body influencent TOUS les éléments
   qui n’ont pas de font-size défini manuellement.
   Cela peut causer des incohérences visuelles sur certaines résolutions.
   Pensez à définir font-size explicitement sur les composants clés.
*/
/* Réinitialiser les marges, le padding et la box-sizing */
html {
  background-color: #000000;
  color: #a9a9a9;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
footer,
header,
section,
article,
main,
aside {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Utiliser box-sizing border-box par défaut */
}

/* Réinitialiser les styles pour les liens */
a {
  text-decoration: none;
  color: inherit;
}

/* Réinitialiser les styles pour les listes */
ul,
li {
  list-style: none;
}

/* Réinitialiser les bordures */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #DE7915;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

th {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

td,
th {
  border: 1px solid #ffffff;
  padding: 1rem;
  text-align: left;
}

/* Assurez-vous que les boutons sont sans styles par défaut */
button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

/* Empêcher les comportements par défaut des formulaires */
input,
textarea {
  outline: none;
}

/* Contrôler les valeurs par défaut des images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Mobile - Portrait (max-width: 599px) */
@media (max-width: 599px) {
  /* Mobile portrait : ajustements typographiques et mise en page */
  /* Ajout d'autres ajustements pour les mobiles ici si nécessaire */
}
/* Mobile - Paysage (min-width: 600px et max-width: 768px) */
@media (min-width: 600px) and (max-width: 768px) {
  /* Mobile paysage : ajustements typographiques et mise en page */
  /* Ajout d'autres ajustements pour les mobiles paysage ici */
}
/* Tablette - Portrait (min-width: 769px et max-width: 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Tablette portrait : ajustements typographiques et mise en page */
  /* Ajout d'autres ajustements pour les tablettes portrait ici */
}
/* Tablette - Paysage (min-width: 1025 et max-width: 1199px) */
@media (min-width: 1025px) and (max-width: 1199px) {
  /* Tablette paysage : ajustements typographiques et mise en page */
  /* Ajout d'autres ajustements pour les tablettes paysage ici */
}
/* Grands écrans (min-width: 1200px et max-width: 1400px */
@media (min-width: 1200px) and (max-width: 1400px) {
  /* Grand écran : ajustements typographiques et mise en page */
  /* Ajout d'autres ajustements pour les desktop ici */
}
/* Très grands écrans (min-width: 1400px */
@media (min-width: 1401px) {
  /* Très grand écran : ajustements typographiques et mise en page */
  /* Ajout d'autres ajustements pour les grands desktop ici */
}
/* Fichier : _layout.scss
 * Description : Fichier contenant les styles des layouts du portfolio ainsi que les séparations.
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
.layout {
  display: flex;
  height: 0;
}

.main-content {
  position: relative;
  margin-left: 30%;
  width: 70%;
  padding: 2rem;
  margin-top: 0;
  background-color: #000000;
}

/* Cadre principal de la page d'accueil */
.outer-frame-landing {
  /* Couleur et taille de la bordure externe */
  border: 4px solid #C96B12;
  /* Coins arrondis */
  border-radius: 10px;
  /* Espacement interne */
  padding: 2%;
  /* Couleur de fond du cadre externe */
  background: #f2f2f2;
  /* Ombre subtile */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* Animation fluide */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.outer-frame-landing:hover {
  /* Légère mise en avant */
  transform: scale(1.05);
  /* Ombre amplifiée */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Cadre interne de la page d'accueil */
.inner-frame-landing {
  /* Couleur et taille de la bordure interne */
  border: 2px solid #E5AD36;
  /* Coins arrondis */
  border-radius: 10px;
  /* Espacement interne */
  padding: 1.5%;
  /* Couleur de fond du cadre interne */
  background: #000000;
  /* Ombre interne */
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}
.inner-frame-landing:hover {
  /* Légère mise en avant du cadre interne */
  transform: scale(1.02);
  /* Changement de couleur de bordure */
  border-color: #C96B12;
}

/* Cadre externe de la page contact */
.outer-frame-contact {
  /* Couleur et taille de la bordure externe */
  border: 4px solid #C96B12;
  /* Coins arrondis */
  border-radius: 10px;
  /* Espacement interne */
  padding: 2%;
  /* Couleur de fond du cadre externe */
  background: #f2f2f2;
  /* Ombre subtile */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* Animation fluide */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.outer-frame-contact:hover {
  /* Légère mise en avant */
  transform: scale(1.05);
  /* Ombre amplifiée */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Cadre interne de la page contact */
.inner-frame-contact {
  /* Couleur et taille de la bordure interne */
  border: 2px solid #E5AD36;
  /* Coins arrondis */
  border-radius: 10px;
  /* Espacement interne */
  padding: 1.5%;
  /* Couleur de fond du cadre interne */
  background: #000000;
  /* Ombre interne */
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}
.inner-frame-contact:hover {
  /* Légère mise en avant du cadre interne */
  transform: scale(1.02);
  /* Changement de couleur de bordure */
  border-color: #C96B12;
}

/* Séparateur horizontal principal */
.separator-1 {
  width: 90%;
  margin: 0 auto;
  border-bottom: 2px solid #E5AD36;
}

/* Séparateur horizontal secondaire */
.separator-2 {
  width: 90%;
  margin: 0 auto;
  border-bottom: 2px solid #DE7915;
}

.separator-3 {
  width: 45%;
  margin: 0 auto;
  border-bottom: 1px solid #ffffff;
}

/* Barre de séparation section contact */
.contact-divider {
  border: none;
  width: 80%;
  height: 2px;
  background-color: #FFD580;
  margin: 0 auto;
}

/* Barre de séparation section mention */
.mention-divider {
  border: none;
  height: 2px;
  background-color: #E5AD36;
  margin: 2% 0;
}

/* Espaceur principal */
.space-1 {
  height: 8.5vh;
}

/* Espaceur secondaire */
.space-2 {
  height: 5vh;
}

.contact-space {
  height: 4vh;
}

.product-space {
  height: 3vh;
}

.mention-space {
  height: 2vh;
}

.back-to-top {
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 40px; /* même largeur */
  height: 40px; /* même hauteur */
  display: flex; /* centrer le contenu */
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #DE7915;
  border-radius: 8px;
  border: 2px solid #DE7915;
  text-decoration: none;
  font-size: 3rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4 ease;
}
.back-to-top:hover {
  background-color: #ffffff;
  border: 2px solid #E5AD36;
}

.back-to-top.show {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 599px) {
  .layout {
    /* Afficher la mise en page en colonne */
    flex-direction: column;
    height: 10vh;
  }
  .main-content {
    margin-left: 0;
    width: 100%;
    top: 0;
  }
  .outer-frame-landing, .inner-frame-landing,
  .outer-frame-contact, .inner-frame-contact {
    padding: 2%;
    width: 100%;
  }
  .space-1 {
    height: 8vh;
  }
  .space-2 {
    height: 4.5vh;
  }
  .contact-space {
    height: 3.5vh;
  }
  .product-space {
    height: 2vh;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .layout {
    /* Afficher la mise en page en colonne */
    flex-direction: column;
    height: 30vh;
  }
  .main-content {
    margin-left: 0;
    width: 100%;
    top: 0;
  }
  .outer-frame-landing, .inner-frame-landing,
  .outer-frame-contact, .inner-frame-contact {
    padding: 3%;
    width: 100%;
  }
  .space-1 {
    height: 7vh;
  }
  .space-2 {
    height: 3.5vh;
  }
  .contact-space {
    height: 3vh;
  }
  .product-space {
    height: 2vh;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .layout {
    /* Retour à une mise en page en ligne */
    flex-direction: row;
    height: 25vh;
  }
  .main-content {
    margin-left: 0;
    width: 100%;
  }
  .outer-frame-landing, .inner-frame-landing,
  .outer-frame-contact, .inner-frame-contact {
    padding: 3%;
    width: 100%;
  }
  .space-1 {
    height: 7vh;
  }
  .space-2 {
    height: 3.5vh;
  }
  .product-space {
    height: 2vh;
  }
  .contact-space {
    height: 3vh;
  }
  .product-space {
    height: 3vh;
  }
}
@media (min-width: 1025px) and (max-width: 1400px) {
  .layout {
    /* Retour à une mise en page en ligne */
    flex-direction: row;
  }
  .main-content {
    margin-left: 30%;
    width: 75%;
  }
  .outer-frame-landing, .inner-frame-landing,
  .outer-frame-contact, .inner-frame-contact {
    padding: 3%;
    width: 100%;
  }
}
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _typography.scss
 * Description : Fichier contenant les styles des titres, paragraphes et autres éléments de contenu du portfolio
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Titres de la page d'accueil */
.landing-h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

/*Titres des sous-sections de lapage d'accueil*/
.landing-h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #DE7915;
  margin: 1rem 0;
}

.landing-h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #DE7915;
  margin: 0.5rem 0;
}

/* Titres de la page contact */
.contact-h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #DE7915;
  text-align: center;
  margin: 0 auto;
}

.contact-h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
}

/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _animations.scss
 * Description : Fichier contenant les animations utilisées dans le projet.
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _buttons.scss
 * Description : Fichier contenant les styles de boutons du sites.
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Regroupement */
.btn-link, .btn-secondary, .btn-primary {
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2 ease;
  font-weight: bold;
}

/* Style bouton primaire */
.btn-primary {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #DE7915;
  color: #ffffff;
}
.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  background-color: #C96B12;
  border: 2px solid #000000;
  color: #ffffff;
}

/* Style bouton secondaire */
.btn-secondary {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #ffffff;
  color: #DE7915;
}
.btn-secondary:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  background-color: #DE7915;
  color: #ffffff;
  border: 2px solid #000000;
}

/* Style du bouton des liens dans la section à propos */
.btn-link {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #E5AD36;
  color: #000000;
}
.btn-link:hover {
  transform: scale(1.05);
  text-decoration: none;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  background-color: #DE7915;
  color: #ffffff;
  border: 2px solid #000000;
}

/* Grand écran ( > 1025px ) */
@media (min-width: 1025px) {
  .btn-primary, .btn-secondary {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
  }
}
/* Tablette ( < 1024px )*/
@media (max-width: 1024px) {
  .btn-primary, .btn-secondary {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
}
/* Mobile ( < 768px)*/
@media (max-width: 768px) {
  .btn-primary, .btn-secondary {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
}
/* Fichier : _footer.scss
 * Description : Fichier contenant les styles du footer du portfolio
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Styles Footer */
footer {
  background-color: #2F445C;
  width: 70%;
  margin-left: auto;
  margin-right: 0;
  color: #ffffff;
  padding: 3rem 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenu principal du pied de page */
.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}

/* Styles des sections */
.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 0 1rem;
}

/* Titre des sections */
footer h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-decoration: underline;
  color: #DE7915;
}

/* Listes */
footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
footer ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3 ease, text-decoration 0.3s ease;
}
footer ul li a:hover {
  color: #E5AD36;
  text-decoration: none;
}

/* Phrase des liste du footer */
footer ul li p {
  font-size: 1.5rem;
  color: #ffffff;
}
footer ul li p a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #FFD580;
  transition: color 0.3s ease;
}
footer ul li p a:hover {
  color: #C96B12;
}

/* Texte simple */
footer p {
  margin-bottom: 1.5%;
  color: #C96B12;
}

/* Bas de la section */
.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 2%;
  color: #C96B12;
}

@media (min-width: 1025px) and (max-width: 1199px) {
  footer {
    width: 68%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  footer {
    width: 100%;
  }
  .footer-content {
    flex-wrap: wrap;
  }
  .footer-section {
    width: 45%;
    margin-bottom: 2rem;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  footer {
    width: 100%;
  }
  .footer-content {
    /* Les sections s'affichent verticalement sur mobile */
    flex-direction: column;
    /* Réduit le padding */
    padding: 1.5rem;
  }
  .footer-section {
    /* Chaque section prend toute la largeur */
    width: 100%;
    /* Ajoute un espace vertical entre les sections */
    margin: 0 0 1.5rem 0;
  }
  footer h3 {
    /* Réduit la taille des titres pour les petits écrans */
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  footer ul li,
  footer ul li a {
    font-size: 1.25rem;
  }
  footer p {
    /* Réduit la taille des items de liste */
    font-size: 1rem;
  }
}
@media (max-width: 599px) {
  footer {
    width: 100%;
    padding: 2rem 1rem;
  }
  .footer-content {
    /* Les sections s'affichent verticalement */
    flex-direction: column;
    padding: 1rem;
  }
  footer h3 {
    /* Réduit encore la taille des titres */
    font-size: 1.5rem;
  }
  footer ul li,
  footer ul li a {
    font-size: 1.25rem;
  }
  footer p {
    /* Réduit la taille des items de liste */
    font-size: 1rem;
  }
}
/* Fichier : _header.scss
 * Description : Fichier contenant les styles du header du portfolio
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  border-right: 3px solid #DE7915;
  background-color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  /* Disparition du header en dessous de 1024px */
}
@media (max-width: 1024px) {
  .header {
    display: none;
  }
}

.hamburger {
  display: none;
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  z-index: 1002;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4;
  cursor: pointer;
  background: none;
  border: none;
  /* Affichage du menu hamburger en dessous de 1024px */
}
.hamburger .line {
  width: 2rem;
  height: 0.3rem;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .hamburger {
    display: flex;
  }
}

.hamburger.active + .header,
.header.active {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  flex-direction: column;
  padding: 1.5rem 1rem;
  background-color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Défilement si lien débordent */
  overflow-y: auto;
}

.main-content {
  /* Animation fluide lors du changement */
  transition: margin-top 0.3 ease;
}

.nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 1rem 1.5rem;
}

/* Navigation */
.nav-links ul {
  list-style: none;
  /* Centre horizontalement */
  margin: 0 auto;
  padding: 0;
  display: flex;
  /* Place les liens verticalement */
  flex-direction: column;
  /* Centre verticalement si le parent a une hauteur définie */
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.nav-links ul li a {
  font-size: 2rem;
  color: #a9a9a9;
  text-decoration: none;
  margin: 1rem 0;
}
.nav-links ul li a:hover {
  color: #E5AD36;
}

@media (min-width: 1200px) {
  .nav-container {
    gap: 2rem;
  }
  .nav-links ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-links ul li a {
    font-size: 2rem;
    text-decoration: none;
    margin: 1rem 0;
  }
  .nav-links ul li a:hover {
    color: #E5AD36;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .nav-container {
    gap: 2rem;
  }
  .nav-links ul li a {
    font-size: 1.5rem;
  }
}
@media (max-width: 1024px) {
  .header.active .nav-links ul li a {
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .nav-container {
    gap: 2rem;
  }
  .nav-links ul li a {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .hamburger.active + .header,
  .header.active {
    height: 20%;
  }
}
/* Fichier : _images.scss
 * Description : Fichier contenant les styles des images du portfolio
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
.logo {
  width: 50%;
  margin: 0 auto;
}

/* Logos des compétences */
.skill-logo {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 100px 0;
  transition: transform 0.3s;
}
.skill-logo:hover {
  transform: scale(1.3); /* léger zoom au hover */
}

.contact-cartes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.carte-visite {
  width: 300px;
  height: 200px;
  background-color: #DE7915;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: bold;
}

/* Fichier : _links.scss
 * Description : Fichier contenant les styles des liens du portfolio
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
.contact-link {
  color: #DE7915;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
.contact-link a {
  /* permet le centrage */
  display: inline-block;
}
.contact-link:hover {
  color: #FFD580;
  text-decoration: underline;
}

/* Fichier : _apropos.scss
 * Description : Fichier contenant les styles de la page à propos
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Cadre externe */
.outer-frame-information {
  border: 4px solid #C96B12;
  border-radius: 8px;
  padding: 2%;
  margin: 10%;
  background: #f2f2f2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.outer-frame-information:hover {
  /* Légère mise en avant */
  transform: scale(1.02);
  /* Ombre amplifiée */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Cadre interne */
.inner-frame-information {
  border: 2px solid #E5AD36;
  border-radius: 8px;
  padding: 1.5%;
  background: #000000;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Conteneur principal */
.information-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Titre de la section */
.information-title {
  font-size: 3rem;
  text-align: center;
  color: #DE7915;
  margin-bottom: 1rem;
}

/* Conteneur des images */
.container-information-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

/* Styles pour les deux images */
.information-image {
  flex: 0 1 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles pour le titre de la section */
h2.information-welcome {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid #FFD580;
}

.downloaded-documents a {
  display: inline-block;
  font-weight: 900;
  color: #DE7915;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.downloaded-documents a:hover {
  color: #E5AD36;
  /* Légère mise en avant */
  transform: scale(1.02);
  /* Ombre amplifiée */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Sous-titres de la partie information */
.information-subtitle {
  font-size: 1.5rem;
  color: #E5AD36;
  margin: 2rem 0 1rem;
}

/* Introduction de la section information */
.information-intro {
  font-size: 2rem;
  line-height: 1.7;
  color: #ffffff;
}

/* Styles des paragraphes */
.information-section p {
  font-size: 1.5rem;
  text-indent: 2rem;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 1rem;
}

/* Styles de la division entre les parties */
.information-divider {
  width: 20%;
  border: 0.5px solid #ffffff;
  margin: 0 auto;
}

.salutations {
  color: #f2f2f2;
  font-weight: 600;
}

/* Fichier : _contact.scss
 * Description : Fichier contenant les styles de la page contact
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
.contact-main {
  text-decoration: none;
}

.contact-border {
  border: 2px solid #DE7915;
  padding: 20px;
  border-radius: 10px;
}

.contact-site-entreprise {
  border: 2px solid #C96B12;
  border-radius: 10px;
  padding: 2%;
  font-size: 1.5rem;
}
.contact-site-entreprise .contact-sentence {
  text-align: justify;
  line-height: 1.8;
  margin-bottom: 3%;
  transition: background 0.3s ease, border-color 0.3s ease;
}
.contact-site-entreprise .contact-sentence p {
  text-indent: 2em;
}

/* Fichier : _landing.scss
 * Description : Fichier contenant les styles de la page d'accueil du portfolio
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Titre de la page d'accueil */
.title-container-landing {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  align-items: center;
  margin: 0;
  height: 20hv;
  text-align: center;
  padding: 2% 3%;
  transition: transform 0.3 ease-out, opacity 0.3s ease-out;
}
.title-container-landing:hover {
  transform: scale(1.025);
}

/* Conteneur pour le slogan */
.slogan-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin: 0 auto;
  text-align: center;
  background-color: #f2f2f2;
  /* Style de base */
  border: 2px solid #C96B12;
  width: 60%;
  border-radius: 40px;
  /* Animation fluide */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.slogan-container:hover {
  transform: scale(1.02); /* Agrandir le conteneur */
  border: 2px solid #E5AD36;
}

/* Styles pourle slogan */
.slogan {
  display: block;
  font-size: 3rem;
  /* En gras */
  font-weight: 700;
  /* espace entre les lignes */
  line-height: 1.4;
  color: #DE7915;
  margin: 1rem 0;
}

/* Style pour le texte de présentation */
.presentation-container {
  max-width: 70%;
  margin: 2rem auto;
  text-align: center;
  padding: 0 1rem;
}

.sentence-presentation {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.6;
  margin: 0.8rem 0;
}

/* Fichier : _mentions.scss
 * Description : Fichier contenant les styles de la page des mentions légales
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
.outer-frame-mention {
  border: 4px solid #C96B12;
  border-radius: 8px;
  padding: 2%;
  margin: 10%;
  background: #f2f2f2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.outer-frame-mention:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.inner-frame-mention {
  border: 2px solid #E5AD36;
  border-radius: 8px;
  padding: 1.5%;
  background: #000000;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mention-main {
  padding: 4% 2%;
  background-color: #000000;
  color: #ffffff;
  line-height: 1.6;
}

.mention-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3%;
  color: #DE7915;
}

.mention-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2%;
}
.mention-header .mention-update {
  font-size: 1.5rem;
}
.mention-header .mention-update {
  color: #E5AD36;
}

.mention-logo {
  display: flex;
  justify-content: center;
  margin: 3% 0;
}
.mention-logo .mention-logo-img {
  width: 20%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.mention-logo .mention-logo-img:hover {
  transform: scale(1.05);
}

.mention-content {
  max-width: 90%;
  margin: 0 auto;
  padding: 4% 2%;
  border-radius: 12px;
  border: 1px solid #f2f2f2;
}
.mention-content .mention-section {
  margin-bottom: 4%;
}
.mention-content .mention-section .mention-subtitle {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  padding: 4%;
  color: #E5AD36;
  margin-bottom: 1%;
}
.mention-content .mention-section p {
  font-size: 1.5rem;
  margin-bottom: 1.5%;
  text-indent: 2em;
  line-height: 1.8;
}
.mention-content .mention-section .mention-list {
  margin: 0;
  padding: 0 5% 0 2%;
}
.mention-content .mention-section .mention-list li {
  font-size: 1.5rem;
  list-style: disc inside;
  margin-bottom: 1%;
  padding-left: 1.5em;
}

.mention-intro {
  border: 2px solid #C96B12;
  border-radius: 10px;
  padding: 2%;
  background: #f2f2f2;
  font-size: 2rem;
  color: #000000;
  text-align: justify;
  line-height: 1.8;
  margin-bottom: 3%;
  transition: background 0.3s ease, border-color 0.3s ease;
}
.mention-intro:hover {
  background: white;
  border-color: #E5AD36;
}
.mention-intro p {
  text-indent: 2em;
}

.mention-footer {
  text-align: center;
  margin-top: 15%;
  font-size: 1.5rem;
  color: #a9a9a9;
}
.mention-footer p {
  font-style: italic;
}

/* Tablettes */
@media (min-width: 769px) and (max-width: 1199px) {
  .outer-frame-mention {
    margin: 8%;
    padding: 2.5%;
  }
  .mention-main {
    padding: 2.5%;
  }
  .mention-title {
    font-size: 2rem;
  }
  .mention-header .mention-update {
    font-size: 1.5rem;
  }
  .mention-content {
    max-width: 95%;
  }
  .mention-content .mention-section {
    margin-bottom: 3.5%;
  }
  .mention-content .mention-section .mention-subtitle {
    font-size: 1.5rem;
    padding: 4.5%;
    margin-bottom: 1.5%;
  }
  .mention-content .mention-section p {
    font-size: 1.25rem;
    line-height: 1.6;
    text-indent: 3em;
  }
  .mention-content .mention-section .mention-list li {
    font-size: 1.25rem;
  }
  .mention-footer {
    margin-top: 10%;
  }
}
/* Mobiles paysage et petites tablettes */
@media (min-width: 481px) and (max-width: 768px) {
  .outer-frame-mention {
    margin: 12%;
    padding: 2%;
  }
  .mention-main {
    padding: 2%;
  }
  .mention-title {
    font-size: 1.5rem;
  }
  .mention-header .mention-update {
    font-size: 1.25rem;
  }
  .mention-content {
    max-width: 95%;
  }
  .mention-content .mention-section {
    margin-bottom: 3.5%;
  }
  .mention-content .mention-section .mention-subtitle {
    font-size: 1.25rem;
    padding: 4.5%;
    margin-bottom: 1.5%;
  }
  .mention-content .mention-section p {
    font-size: 1rem;
    line-height: 1.6;
    text-indent: 3em;
  }
  .mention-content .mention-section .mention-list li {
    font-size: 1rem;
  }
  .mention-footer {
    margin-top: 10%;
  }
}
/* Mobiles */
@media (max-width: 480px) {
  .outer-frame-mention {
    margin: 10%;
    padding: 1.5%;
  }
  .mention-main {
    padding: 1.5%;
  }
  .mention-title {
    font-size: 1.5rem;
  }
  .mention-header .mention-update {
    font-size: 1.25rem;
  }
  .mention-content {
    max-width: 95%;
  }
  .mention-content .mention-section {
    margin-bottom: 3.5%;
  }
  .mention-content .mention-section .mention-subtitle {
    font-size: 1.25rem;
    padding: 4.5%;
    margin-bottom: 1.5%;
  }
  .mention-content .mention-section p {
    font-size: 1rem;
    line-height: 1.6;
    text-indent: 3em;
  }
  .mention-content .mention-section .mention-list li {
    font-size: 1rem;
  }
  .mention-footer {
    margin-top: 10%;
  }
}
/* Fichier : _buttons.scss
 * Description : Fichier contenant les styles de boutons du sites.
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fond flou + centré */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Contenu de la modale */
.modal-content {
  background: #f2f2f2;
  border-radius: 12px;
  width: 95%;
  padding: 20px 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  text-align: left;
  position: relative;
  animation: fadeIn 0.3s ease;
  /* gestion du scroll si le contenu dépasse */
  overflow-y: auto;
}

/* Titre et sous-titres */
.modal-content h3 {
  margin-top: 0;
  font-size: 1.6em;
  border-bottom: 2px solid #a9a9a9;
  padding-bottom: 8px;
}

.modal-content h4 {
  margin-top: 15px;
  font-size: 1.2em;
  color: #E5AD36;
}

/* Bouton de fermeture */
.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #a9a9a9;
}

.close:hover {
  color: #000000;
}

/* Animation légère */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* Fichier : _projects.scss
 * Description : Fichier contenant les styles de la page des projets de SethiarWorks.
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  position: relative;
  background: #000000;
  color: #a9a9a9;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 2px solid #DE7915;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.project-card img {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.modal {
  display: none; /* cachée par défaut */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); /* fond assombri */
}

.modal-content {
  background: #f2f2f2;
  color: #000000;
  margin: 10% auto;
  padding: 20px;
  border-radius: 12px;
  width: 60%;
  max-width: 700px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
  float: right;
  font-size: 2rem;
  cursor: pointer;
}

/* Fichier : _products.scss
 * Description : Fichier contenant les styles de la page des produits de SethiarWorks.
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.product-card {
  display: block;
  background: #000000;
  color: #a9a9a9;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 2px solid #DE7915;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.product-card img {
  margin: 0 auto;
  width: 55%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.section-intro {
  font-size: 2rem;
}

.product-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.product-list li {
  margin-bottom: 0.5rem;
}

/* Fichier : _skills.scss
 * Description : Fichier contenant les styles de la page des compétences de Lefetey Arnaud.
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Fichier : _variables.scss
 * Description : Fichier contenant les styles des variables CSS de base du portfolio    
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Variables CSS - base/variables.scss */
/* Orange Sethiar */
/* Noir */
/* Blanc */
/* Couleur footer Bleu Sethiar */
/* Orange classique */
/* Jaune Or */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Plus clair */
/* Plus foncé */
/* Gris foncé */
/* Gris */
/*Gris clair 1 */
/* Gris clair */
/* Orange */
/* Rouge foncé */
/* Rouge foncé hover cancelled */
/* Orange foncé */
/* Antracite */
/* Blanc pur */
/* Blanc cassé */
/* Gris très très clair */
/* Gris foncé */
/* Orange plus clair */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Texte */
/* Fond */
/* Bordure */
/* Police principale */
/* Police secondaire */
/* Police tertiare */
/* Fichier : _responsive-size.scss
 * Description : Fichier contenant les styles de base pour les breakpoints responsive
 * Auteur : Lefetey Arnaud
 * Date de création : 01/09/2025
 */
/* Conteneur principal pour les compétences */
.competence-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

/* Conteneur des compétences par groupe */
.competence-group {
  position: relative;
  width: 220px;
  margin: 2rem auto;
}

/* Conteneur centre de rotation */
.orbit-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 3rem auto;
}

/* Titre des compétences */
.orbit-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #DE7915;
  text-align: center;
  width: 130px;
  height: 130px;
  padding: 1%;
  /* pour centrer verticalement si pas de flex */
  line-height: 120px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Forcer le retour à la ligne */
  text-align: center;
  line-height: 1.6;
  word-break: break-word;
}

.orbit-pivot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

.orbit {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  animation: rotate-orbit 20s linear infinite;
}

.skill-logo {
  position: absolute;
  top: 50%;
  left: 50%;
}

.logo-pivot {
  position: absolute;
  transform: translate(-50%, -50%);
}

.skill-logo img {
  width: 60px;
  height: 60px;
  transform-origin: center center;
  display: block;
}

/* Animation pour faire tourner l'orbite des logos */
@keyframes rotate-orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Gestion des orbites */
.orbit-3 .skill-logo:nth-child(1) {
  transform: rotate(0deg) translateX(100px) rotate(0deg);
}

.orbit-3 .skill-logo:nth-child(2) {
  transform: rotate(120deg) translateX(100px) rotate(-120deg);
}

.orbit-3 .skill-logo:nth-child(3) {
  transform: rotate(240deg) translateX(100px) rotate(-240deg);
}

.orbit-4 .skill-logo:nth-child(1) {
  transform: rotate(0deg) translateX(100px) rotate(0deg);
}

.orbit-4 .skill-logo:nth-child(2) {
  transform: rotate(90deg) translateX(100px) rotate(-90deg);
}

.orbit-4 .skill-logo:nth-child(3) {
  transform: rotate(180deg) translateX(100px) rotate(-180deg);
}

.orbit-4 .skill-logo:nth-child(4) {
  transform: rotate(270deg) translateX(100px) rotate(-270deg);
}

.orbit-5 .skill-logo:nth-child(1) {
  transform: rotate(0deg) translateX(100px) rotate(0deg);
}

.orbit-5 .skill-logo:nth-child(2) {
  transform: rotate(72deg) translateX(100px) rotate(-72deg);
}

.orbit-5 .skill-logo:nth-child(3) {
  transform: rotate(144deg) translateX(100px) rotate(-144deg);
}

.orbit-5 .skill-logo:nth-child(4) {
  transform: rotate(216deg) translateX(100px) rotate(-216deg);
}

.orbit-5 .skill-logo:nth-child(5) {
  transform: rotate(288deg) translateX(100px) rotate(-288deg);
}

.orbit-7 .skill-logo:nth-child(1) {
  transform: rotate(0deg) translateX(100px) rotate(0deg);
}

.orbit-7 .skill-logo:nth-child(2) {
  transform: rotate(51.4285714286deg) translateX(100px) rotate(-51.4285714286deg);
}

.orbit-7 .skill-logo:nth-child(3) {
  transform: rotate(102.8571428571deg) translateX(100px) rotate(-102.8571428571deg);
}

.orbit-7 .skill-logo:nth-child(4) {
  transform: rotate(154.2857142857deg) translateX(100px) rotate(-154.2857142857deg);
}

.orbit-7 .skill-logo:nth-child(5) {
  transform: rotate(205.7142857143deg) translateX(100px) rotate(-205.7142857143deg);
}

.orbit-7 .skill-logo:nth-child(6) {
  transform: rotate(257.1428571429deg) translateX(100px) rotate(-257.1428571429deg);
}

.orbit-7 .skill-logo:nth-child(7) {
  transform: rotate(308.5714285714deg) translateX(100px) rotate(-308.5714285714deg);
}

.orbit-9 .skill-logo:nth-child(1) {
  transform: rotate(0deg) translateX(100px) rotate(0deg);
}

.orbit-9 .skill-logo:nth-child(2) {
  transform: rotate(40deg) translateX(100px) rotate(-40deg);
}

.orbit-9 .skill-logo:nth-child(3) {
  transform: rotate(80deg) translateX(100px) rotate(-80deg);
}

.orbit-9 .skill-logo:nth-child(4) {
  transform: rotate(120deg) translateX(100px) rotate(-120deg);
}

.orbit-9 .skill-logo:nth-child(5) {
  transform: rotate(160deg) translateX(100px) rotate(-160deg);
}

.orbit-9 .skill-logo:nth-child(6) {
  transform: rotate(200deg) translateX(100px) rotate(-200deg);
}

.orbit-9 .skill-logo:nth-child(7) {
  transform: rotate(240deg) translateX(100px) rotate(-240deg);
}

.orbit-9 .skill-logo:nth-child(8) {
  transform: rotate(280deg) translateX(100px) rotate(-280deg);
}

.orbit-9 .skill-logo:nth-child(9) {
  transform: rotate(320deg) translateX(100px) rotate(-320deg);
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  animation: rotate-orbit 20s linear infinite;
}

@media (max-width: 768px) {
  .competence-container {
    grid-template-columns: 1fr;
  }
}
/* Fichier : style/css
 * Description : Fichier contenant les importations des diffÃ©rents fichiers SCSS
 *              pour la gÃ©nÃ©ration du CSS principal du site.
 * Auteur : Lefetey Arnaud
 * Date de crÃ©ation : 01/09/2025
 */
